@model AdvisementSys.Models.AdvisorReportModel
@{
    ViewBag.Title = "Advisor Issue Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />

<h2>Advisor Issue Report</h2>
@using (Html.BeginForm("AdvisorIssueReport", "Reports", FormMethod.Post, new { id = "reportForm", name = "reportForm" }))
    {
        <span>Employee ID:</span>
        @Html.TextBoxFor(model => model.EmpID, new { @id = "txtEmpID",  @class = "required" })
        <br />
        <span>Start Date:</span>
        @Html.TextBoxFor(model => model.startDate, new { @id = "datepicker", @Value = Model.startDate.ToShortDateString() })
        <span>End Date:</span>
        @Html.TextBoxFor(model => model.endDate, new { @id = "datepicker1", Value = Model.endDate.ToShortDateString() })
        <input type="submit" value="Generate Report" class="Button" />
    }

@Html.Partial("ReportsPartials/AdvisorReport", null, new ViewDataDictionary() { { "EmpID", Model.EmpID }, { "StartDate", Model.startDate.ToShortDateString() }, { "EndDate", Model.endDate.ToShortDateString() }, { "User", Model.User + " (" + User.Identity.Name + ")" } }) 

<script type="text/javascript">
    $("#datepicker").datepicker({ dateFormat: "dd/mm/yy" });
    $("#datepicker1").datepicker({ dateFormat: "dd/mm/yy" });

    var model = @Html.Raw(Json.Encode(Model.EmployeeID));

    $("#txtEmpID").autocomplete({
        source: model
    });

    $("#reportForm").validate();
</script>