@model AdvisementSys.Models.CampusReportModel
@{
    ViewBag.Title = "Campus Issue Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />

<h2>Campus Issue Report</h2>
@using (Html.BeginForm())
    {
        @Html.DropDownListFor(model => model.Program, new SelectList(Model.ProgList, Model.ProgList), new { @class = "DDL" })
        @Html.TextBoxFor(model => model.StartDate, new { @id = "datepicker", @Value = Model.StartDate.ToShortDateString() })
        @Html.TextBoxFor(model => model.EndDate, new { @id = "datepicker1", @Value = Model.EndDate.ToShortDateString() })
         <input type="submit" value="Generate Report" class="Button" />
    }

@Html.Partial("ReportsPartials/CampusReport", null, new ViewDataDictionary() { { "Program", Model.Program }, { "StartDate", Model.StartDate.ToShortDateString()}, {"EndDate", Model.EndDate.ToShortDateString()}, {"User", User.Identity.Name} }) 

<script type="text/javascript">
    $("#datepicker").datepicker({ dateFormat: "dd/mm/yy" });
    $("#datepicker1").datepicker({ dateFormat: "dd/mm/yy" });
</script>