@model AdvisementSys.Models.employee
@{
    ViewBag.Title = "User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/css/web.form.css")" rel="stylesheet" type="text/css" />
<h2 style="padding-left: 13px;">
    User Details for @Html.DisplayFor(model => model.fname) @Html.DisplayFor(model => model.lname)</h2>
<table class="tableDetail">
    <tr>
        <td>
            <div class="display-label">
                Employee ID:</div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.employeeid)
            </div>
        </td>
        <td>
            <div class="display-label">
                Email:</div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.email)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                First Name:</div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.fname)
            </div>
        </td>
        <td>
            <div class="display-label">
                Phone Number:</div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.phonenum)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                Last Name:</div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.lname)
            </div>
        </td>
        <td>
            <div class="display-label">
                Role:</div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.role)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                Faculty:</div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.faculty)
            </div>
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
