@model AdvisementSys.Models.Request.EditUserModel

@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modify User</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model._employee.employeeid)
    <table>
        <tr>
            <td>
                First Name:
            </td>
            <td>
                @Html.EditorFor(model => model._employee.fname)
                @Html.ValidationMessageFor(model => model._employee.fname)
            </td>
        </tr>
        <tr>
            <td>
                Last Name:
            </td>
            <td>
                @Html.EditorFor(model => model._employee.lname)
                @Html.ValidationMessageFor(model => model._employee.lname)
            </td>
        </tr>
        <tr>
            <td>
                Phone Number:
            </td>
            <td>
                @Html.EditorFor(model => model._employee.phonenum)
                @Html.ValidationMessageFor(model => model._employee.phonenum)
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                @Html.EditorFor(model => model._employee.email)
                @Html.ValidationMessageFor(model => model._employee.email)
            </td>
        </tr>
        <tr>
            <td>
                Faculty:
            </td>
            <td>
                @Html.DropDownListFor(model => model._employee.faculty, new SelectList(Model.faculty, Model.faculty), new { @class = "DDL" })
                @Html.ValidationMessageFor(model => model.faculty)
            </td>
        </tr>
        <tr>
            <td>
                Role:
            </td>
            <td>
                @Html.DropDownListFor(model => model._employee.role, new SelectList(new[] { "Student Advisor", "Receptionist" }))
                @Html.ValidationMessageFor(model => model._employee.role)
            </td>
        </tr>

    </table>

    <p>
        <input type="submit" value="Save" />
    </p>
}
    
<div>
    @Html.ActionLink("Change Password", "ChangePassword")
    @Html.ActionLink("Back to List", "../Student")
</div>
