@model AdvisementSys.Models.Request.DetailsProgramWithdrawalModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/css/note.form.css")" rel="stylesheet" type="text/css" />
<div id="topAnchor"></div>
<h2>Application for Term or Complete Program Withdrawal Form</h2>
<table style="width: 800px;">
    <tr>
        <td colspan="4">
            <h3>Student Information</h3>
        </td>
    </tr>
    <tr>
        <td>
            Name:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.fname) @Html.DisplayFor(model => model._student.lname)
        </td>
        <td>
            Student ID:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.studentid)
        </td>
    </tr>
    <tr>
        <td>
            Address:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.appartmentnum) @Html.DisplayFor(model => model._student.street)
        </td>
        <td>
            City:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.city)
        </td>
    </tr>
    <tr>
        <td>
            Province:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.province)
        </td>
        <td>
            Postal Code:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.postalcode)
        </td>
    </tr>
    <tr>
        <td>
            Full Time:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.fulltimestatus)
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <h3>Term or Program Withdrawal Form</h3>
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model._applicationForTermOrCompleteProgramWithdrawal.date, "*Date:")
        </td>
        <td>
            @Html.DisplayFor(model => model._applicationForTermOrCompleteProgramWithdrawal.date)
        </td>
        <td>
            @Html.LabelFor(model => model._applicationForTermOrCompleteProgramWithdrawal.status, "*Status:")
        </td>
        <td>
            @Html.DisplayFor(model => model._applicationForTermOrCompleteProgramWithdrawal.status)
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(model => model._applicationForTermOrCompleteProgramWithdrawal.withdrawalterm, "*Will be withdrawn on the term of:")
        </td>
        <td>
            @Html.DisplayFor(model => model._applicationForTermOrCompleteProgramWithdrawal.withdrawalterm)           
        </td>
        <td>
            @Html.LabelFor(model => model._applicationForTermOrCompleteProgramWithdrawal.returnterm, "Will return on the term of:")
        </td>
        <td>
            @Html.DisplayFor(model => model._applicationForTermOrCompleteProgramWithdrawal.returnterm)
        </td>
    </tr>

    <tr style="vertical-align:top;">
        <td>
            @Html.LabelFor(model => model._applicationForTermOrCompleteProgramWithdrawal.reasonwithdrawal, "*Reason for Withdrawal:")
        </td>
        <td colspan="3">
            @Html.DisplayFor(model => model._applicationForTermOrCompleteProgramWithdrawal.reasonwithdrawal)
        </td>
    </tr>
       
    <tr style="vertical-align:top;">
        <td>
            @Html.LabelFor(model => model._applicationForTermOrCompleteProgramWithdrawal.continuingedcoursecode, "Continuing Education class(es) dropped:")
        </td>
        <td colspan="3" >
            @Html.DisplayFor(model => model._applicationForTermOrCompleteProgramWithdrawal.continuingedcoursecode)
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(model => model._applicationForTermOrCompleteProgramWithdrawal.refundapproved, "Refund Approved:")
        </td>
        <td>
            @Html.DisplayFor(model => model._applicationForTermOrCompleteProgramWithdrawal.refundapproved)
        </td>
    </tr>        
</table>
    


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model._applicationForTermOrCompleteProgramWithdrawal.withdrawid }) |
    @Html.ActionLink("Back to Issue", "Details/" + Model._applicationForTermOrCompleteProgramWithdrawal.issueid, "Issue")
    | <a href="#noteCreate">Create New Note</a> 
</p>

@foreach (var item in Model._note)
{
    <table class="noteThread">
        <thead>
            <tr>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.employee.fname) @Html.DisplayFor(modelItem => item.employee.lname)</strong>
                </td>
                <td style="text-align: right;">
                    <strong>@Html.DisplayFor(modelItem => item.dates)</strong>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.employee.faculty)
                </td>
                <td style="text-align: right;">
                    <a href="mailto:@item.employee.email?subject=Application for Term or Complete Program Withdrawal Form From @Model._applicationForTermOrCompleteProgramWithdrawal.date">@Html.DisplayFor(modelItem => item.employee.email)
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    @if (User.Identity.Name == item.employeeid)
                    {
                        @Html.ActionLink("Edit Issue Note", "EditNote", new { id = item.noteid })
                    }
                </td>
                <td style="text-align: right;">
                    @Html.DisplayFor(modelItem => item.employee.phonenum)
                </td>
            </tr>
        </thead>
        <tbody style="background-color: #F5F5F5;">
            <tr>
                <td colspan="2">
                    @Html.TextAreaFor(modelItem => item.notes, new { @style = "width:800px; height:100px;overflow: hidden; border: none;background:none", @readonly = "readonly" })
                </td>
            </tr>
        </tbody>
    </table>
    <br />
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
   
    @Html.HiddenFor(model => model._NewNote.issueid, new { @Value = Model._applicationForTermOrCompleteProgramWithdrawal.issueid })
    @Html.HiddenFor(model => model._NewNote.formid, new { @Value = Model._applicationForTermOrCompleteProgramWithdrawal.withdrawid })
    <table class="addNoteBox" id="noteCreate">
        <tr>
            <td colspan="2" style="text-align: center;">
                <h3>
                    New Note</h3>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model._employee.fname)&nbsp;@Html.DisplayFor(model => model._employee.lname)
            </td>
            <td style="text-align: right;">
                @Html.DisplayFor(model => model._date, new { @Value = Model._date.ToString("dd/MM/yyyy") })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model._employee.faculty)
            </td>
            <td style="text-align: right;">
                @Html.DisplayFor(model => model._employee.email)
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                @Html.DisplayFor(model => model._employee.phonenum)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.TextAreaFor(model => model._NewNote.notes, new { @style = "width:775px; height:200px; resize:none;" })
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Create Note" class="Button" style="position: relative;
                    left: 10px;" />
            </td>
        </tr>
    </table>
}
<p>
    @Html.ActionLink("Back to Student Issue", "Details/" + Model._applicationForTermOrCompleteProgramWithdrawal.issueid, "Issue")
    | <a href="#topAnchor">Go to Top</a>  
</p>