@model AdvisementSys.Models.applicationForTermOrCompleteProgramWithdrawal

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>applicationForTermOrCompleteProgramWithdrawal</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.withdrawid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.withdrawid)
            @Html.ValidationMessageFor(model => model.withdrawid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.issueid, "issue")
        </div>
        <div class="editor-field">
            @Html.DropDownList("issueid", String.Empty)
            @Html.ValidationMessageFor(model => model.issueid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date)
            @Html.ValidationMessageFor(model => model.date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.withdrawalterm)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.withdrawalterm)
            @Html.ValidationMessageFor(model => model.withdrawalterm)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.returnterm)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.returnterm)
            @Html.ValidationMessageFor(model => model.returnterm)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.reasonwithdrawal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.reasonwithdrawal)
            @Html.ValidationMessageFor(model => model.reasonwithdrawal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.continuingedcoursecode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.continuingedcoursecode)
            @Html.ValidationMessageFor(model => model.continuingedcoursecode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.refundapproved)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.refundapproved)
            @Html.ValidationMessageFor(model => model.refundapproved)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.status)
            @Html.ValidationMessageFor(model => model.status)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
