@model AdvisementSys.Models.Request.DetailsCalendarModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<div class="contentDiv">
    <h2>
        Appointment Details</h2>
        
    <table style="width: 800px;">
        <tr>
            <td>
                <div class="display-label">
                    Subject:</div>
            </td>
            <td colspan="3">
                <div class="display-field">
                    @Html.DisplayFor(model => model.appointment.subject)
                </div>
            </td>
        <tr>
        </tr>
            <td>
                <div class="display-label">
                    Location:</div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.appointment.cname)
                </div>
            </td>
            <td>
                <div class="display-label">
                    Appointment Type:</div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.appointment.appointmenttype)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Start Time:</div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.appointment.starttime)
                </div>
            </td>
            <td>
                <div class="display-label">
                    End Time:</div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.appointment.endtime)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Chair:</div>
            </td>
            <td colspan="3">
                <div class="display-field">
                    @Html.DisplayFor(model => model.appointment.employeeid)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="display-label">
                    Attendees:</div>
            </td>
        </tr>
        @foreach (var item in Model.Attendees)
        {
        <tr>
            @if (item.Student != null)
            {
                <table>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.fname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.lname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.email)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Student
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.phonenum)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            @Html.DisplayFor(modelItem => item.Attendees.confirmed)
                        </td>
                    </tr>
                </table>
            }
            
            @if (item.Student == null)
            {
                <table>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Emplployee.fname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Emplployee.lname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Emplployee.email)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Emplployee.faculty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Emplployee.phonenum)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            @Html.DisplayFor(modelItem => item.Attendees.confirmed)
                        </td>
                    </tr>
                </table>
            }
        </tr>
        }
        <tr>
            <td>
                Description:
            </td>
        </tr>
        <tr>
            <td colspan="3">
                @Html.DisplayFor(model => model.appointment.description)
            </td>
        </tr>
    </table>
</div>
<p>
    @if (Model.appointment.employeeid == User.Identity.Name)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.appointment.appointmentid }) <span>| <a href="#" id="DeleteAppointemnt">
        Delete</a> | <a href="#" id="DeleteAppointemntseries">
        Delete Series</a> |</span>
    }
    @Html.ActionLink("Back to Calendar", "Index")
</p>
<div id="dialog-confirm" title="Delete Appointment?">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        This Appointment will be permanently deleted and cannot be recovered. Are you sure
        you want to delete this?</p>
</div>
<div id="dialog-confirm-series" title="Delete Appointment Series?">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        This Appointment and all the appointments part of this series will be permanently deleted and cannot be recovered. Are you sure
        you want to delete this?</p>
</div>
<div id="dialog-message-error" title="Error">
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;">
        </span>An Error has occcured please check to confirm that this appointment exists.
        If you still would like to delete this appointment please try again.
    </p>
</div>
<div id="dialog-message-success" title="Success!">
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;">
        </span>You have successfully deleted the appointment!
    </p>
</div>
<div id="dialog-message-success-series" title="Success!">
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;">
        </span>You have successfully deleted all the appointments part of this series!
    </p>
</div>
@Html.HiddenFor(model => model.appointment.appointmentid, new { @id = "appointmentid" })
@Html.HiddenFor(model => model.appointment.repeating, new { @id = "hdnRepID" })
<script>
    $(function () {

    $("#dialog-message-success").dialog({
                                autoOpen: false,
                                height: 200,
                                width: 450,
                                modal: true,
                                buttons: {
                                    Ok: function() {
                                        location = "@Url.Content("~/Calendar")";
                                    }
                                }
                            });

    $("#dialog-message-success-series").dialog({
                                autoOpen: false,
                                height: 200,
                                width: 450,
                                modal: true,
                                buttons: {
                                    Ok: function() {
                                        location = "@Url.Content("~/Calendar")";
                                    }
                                }
                            });

    $("#dialog-message-error").dialog({
                                autoOpen: false,
                                height: 200,
                                width: 450,
                                modal: true,
                                buttons: {
                                    Ok: function() {
                                        location = "@Url.Content("~/Calendar")";
                                    }
                                }
                            });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 200,
            width: 450,
            modal: true,
            buttons: {
                "Delete this item": function () {
                    $.ajax({
                        url: "/Calendar/Delete/" + document.getElementById("appointmentid").value,
                        type: "POST",
                        data: { },
                        dataType: "json",
                        success: function (data) {
                            $("#dialog-message-success").dialog("open");
                        },
                        complete: function (jqXHR, textStatus) {
                            
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#dialog-message-error").dialog("open");
                        }
                    });
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-confirm-series").dialog({
            autoOpen: false,
            resizable: false,
            height: 200,
            width: 450,
            modal: true,
            buttons: {
                "Delete this item": function () {
                    $.ajax({
                        url: "/Calendar/DeleteSeries/" + document.getElementById("hdnRepID").value,
                        type: "POST",
                        data: { },
                        dataType: "json",
                        success: function (data) {
                            $("#dialog-message-success-series").dialog("open");
                        },
                        complete: function (jqXHR, textStatus) {
                            
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#dialog-message-error").dialog("open");
                        }
                    });
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#DeleteAppointemnt")
            .click(function () {
                $("#dialog-confirm").dialog("open");
            });

        $("#DeleteAppointemntseries")
            .click(function () {
                $("#dialog-confirm-series").dialog("open");
            });

    });
</script>
