@model AdvisementSys.Models.Request.DetailsCalendarModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/css/note.form.css")" rel="stylesheet" type="text/css" />
<div class="contentDiv">
    <h2>
        Appointment Details</h2>
        
    <table style="width: 800px;">
        <tr>
            <td>
                <div class="display-label">
                    Description:</div>
            </td>
            <td colspan="3">
                <div class="display-field">
                    @Html.DisplayFor(model => model.appointment.subject)
                </div>
            </td>
        <tr>
        </tr>
            <td>
                <div class="display-label">
                    Location:</div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.appointment.cname)
                </div>
            </td>
            <td>
                <div class="display-label">
                    Appointment Type:</div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.appointment.appointmenttype)
                </div>
            </td>
        </tr>
        @if (Model.appointment.starttime.Date != Model.appointment.endtime.Date)
        {
            <tr>
                <td>
                    <div class="display-label">
                        Start Date:</div>
                </td>
                <td>
                    <div class="display-field">
                        @Model.appointment.starttime.ToShortDateString()
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        Start Time:</div>
                </td>
                <td>
                    <div class="display-field">
                        @Model.appointment.starttime.ToShortTimeString()
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        End Date:</div>
                </td>
                <td>
                    <div class="display-field">
                        @Model.appointment.endtime.ToShortDateString()
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        End Time:</div>
                </td>
                <td>
                    <div class="display-field">
                        @Model.appointment.endtime.ToShortTimeString()
                    </div>
                </td>
            </tr>
        }
        else 
        {
            <tr>
                <td>
                    <div class="display-label">
                        Apointment Date:</div>
                </td>
                <td>
                    <div class="display-field">
                        @Model.appointment.starttime.ToShortDateString()
                    </div>
                </td>
                @if (Model.appointment.allday)
                {
                    <td>
                    <div class="display-label">
                        Apointment Time:</div>
                    </td>
                    <td>
                        <div class="display-field">
                            All Day
                        </div>
                    </td>
                }
            </tr>
            if (!Model.appointment.allday)
            { 
                <tr>
                    <td>
                        <div class="display-label">
                            Start Time:</div>
                    </td>
                    <td>
                        <div class="display-field">
                            @Model.appointment.starttime.ToShortTimeString()
                        </div>
                    </td>
                    <td>
                        <div class="display-label">
                            End Time:</div>
                    </td>
                    <td>
                        <div class="display-field">
                            @Model.appointment.endtime.ToShortTimeString()
                        </div>
                    </td>
                </tr>
            }
        }
        <tr>
            <td>
                <strong>Appointment Participants:</strong>
            </td>
        </tr>
        <tr>
            <td>
                <strong><div class="display-label" style="position:relative;left:10px;">
                    Chair:</div></strong>
            </td>
        </tr>
        <table class="noteThread" style="position:relative;left:20px;">
            <tr>
                <td>
                    <strong>@Html.DisplayFor(model => model.chair.fname) @Html.DisplayFor(model => model.chair.lname)</strong>
                </td>
                <td style="text-align: right;">
                    <strong>@Html.DisplayFor(model => model.chair.faculty)</strong>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.chair.role)
                </td>
                <td style="text-align: right;">
                    <a href="mailto:@Model.chair.email?subject=@Model.appointment.subject Appointment on @Model.appointment.starttime.ToShortDateString() at @Model.appointment.starttime.ToShortTimeString()&body=@Request.Url.ToString()">
                        @Html.DisplayFor(model => model.chair.email)
                    </a>
                </td>
            </tr>
            <tr>
            <td></td>
                <td style="text-align: right;">
                    @Html.DisplayFor(model => model.chair.phonenum)
                </td>
            </tr>
        </table>
        <br />
        @if (Model.Attendees.Count() > 0)
        {
        <tr>
            <td>
                <strong><div class="display-label" style="position:relative;left:10px;">
                    Attendees:</div></strong>
            </td>
        </tr>
            foreach (var item in Model.Attendees)
            {
        <tr>
            @if (item.Student != null)
            {
                <table class="noteThread" style="position:relative;left:20px;">
            <tr>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Student.fname) @Html.DisplayFor(modelItem => item.Student.lname)</strong>
                </td>
                <td style="text-align: right;">
                    <strong>@Html.DisplayFor(momodelItemdel => item.StudFaculty)</strong>
                </td>
            </tr>
            <tr>
                <td>
                    Student
                </td>
                <td style="text-align: right;">
                    <a href="mailto:@item.Student.email?subject=@Model.appointment.subject Appointment on @Model.appointment.starttime.ToShortDateString() at @Model.appointment.starttime.ToShortTimeString()">
                        @Html.DisplayFor(modelItem => item.Student.email)
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    @if(item.Attendees.confirmed == true)
                    {
                        <span><Strong style="color:#0AB90A;">Confirmed</Strong> </span>
                        if(@Model.appointment.starttime > DateTime.Now)
                        {
                            <span>(<a href="#" id="decline" value="@item.Student.studentid">Decline</a> | <a href="#" id="declineseries" value="@item.Student.studentid">Decline Series</a>)</span>
                        }
                        
                    }
                    else if (item.Attendees.confirmed == false)
                    {
                        <Strong style="color:#CD0000;">Declined</Strong>
                    }
                    </td>
               <td style="text-align: right;">
                @Html.DisplayFor(modelItem => item.Student.phonenum)
                </td>
            </tr>
            @if (item.Attendees.confirmed == false)
                {
                <tr>
                    <td colspan="2">
                        <div style="background-color: #F5F5F5;">
                            @Html.TextAreaFor(modelItem => item.Attendees.reason, new { @style = "width:800px; height:80px;overflow: hidden; border: none;background:none", @readonly = "readonly" })
                        </div>
                    </td>
                </tr>
                }
        </table>
                <br />
            }
            
            @if (item.Student == null)
            {
                <table class="noteThread" style="position:relative;left:20px;">
            <tr>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Emplployee.fname) @Html.DisplayFor(modelItem => item.Emplployee.lname)</strong>
                </td>
                <td style="text-align: right;">
                    <strong>@Html.DisplayFor(modelItem => item.Emplployee.faculty)</strong>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Emplployee.role)
                </td>
                <td style="text-align: right;">
                    <a href="mailto:@item.Emplployee.email?subject=@Model.appointment.subject Appointment on @Model.appointment.starttime.ToShortDateString() at @Model.appointment.starttime.ToShortTimeString()&body=@Request.Url.ToString()">
                        @Html.DisplayFor(modelItem => item.Emplployee.email)
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    @if(item.Attendees.confirmed == true)
                    {
                        <Strong style="color:#0AB90A;">Confirmed</Strong>
                        if(@Model.appointment.starttime > DateTime.Now)
                        {
                            if(item.Emplployee.employeeid == User.Identity.Name || User.IsInRole("Receptionist"))
                            {
                                <span> (<a href="#" id="decline" value="@item.Emplployee.employeeid">Decline</a></span>
                            if(Model.appointment.repeating != null)
                            {
                                <span>| <a href="#" id="declineseries" value="@item.Emplployee.employeeid">Decline Series</a></span>
                            }
                        
                            <span>)</span>
                            }
                        }
                        
                        
                    }
                    else if (item.Attendees.confirmed == false)
                    {
                        <Strong style="color:#CD0000;">Declined</Strong>
                    }
                    else if (item.Attendees.confirmed == null)
                    {
                        <Strong>Unconfirmed</Strong><br />
                        if (item.Emplployee.employeeid == User.Identity.Name || User.IsInRole("Receptionist"))
                        {
                            if(@Model.appointment.starttime > DateTime.Now)
                            {
                                if (Model.appointment.repeating != null)
                                {
                                    <span><a href="#" class="confirm" value="@item.Emplployee.employeeid.ToString()">Confirm</a> | <a href="#" class="confirmseries" value="@item.Emplployee.employeeid">Confirm Series</a> | <a href="#" class="decline" value="@item.Emplployee.employeeid">Decline</a> | <a href="#" class="declineseries" value="@item.Emplployee.employeeid">Decline Series</a></span>
                                }
                                else
                                {
                                    <span><a href="#" class="confirm" value="@item.Emplployee.employeeid.ToString()">Confirm</a> | <a href="#" class="decline" value="@item.Emplployee.employeeid">Decline</a> </span>
                                }
                            }
                        }
                    }
                </td>
                <td style="text-align: right;">
                    @Html.DisplayFor(modelItem => item.Emplployee.phonenum)
                </td>
            </tr>
            @if (item.Attendees.confirmed == false)
            {
                <tr>
                    <td colspan="2">
                        <div style="background-color: #F5F5F5;">
                            @Html.TextAreaFor(modelItem => item.Attendees.reason, new { @style = "width:800px; height:100px;overflow: hidden; border: none;background:none", @readonly = "readonly" })
                        </div>
                    </td>
                </tr>
            }
        </table>
                <br />
            }
        </tr>
            }
        }
        <table>
        <tr>
            <td>
                Notes:
            </td>
        </tr>
        <tr>
            <td colspan="3" style="background-color: #F5F5F5;">
                @Html.TextAreaFor(model => model.appointment.description, new { @style = "width:820px; height:100px;overflow: hidden; border: none;background:none", @readonly = "readonly" })
            </td>
        </tr>
    </table>
</div>
<p>
    @if (Model.appointment.employeeid == User.Identity.Name || User.IsInRole("Receptionist"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.appointment.appointmentid }) <span>| <a href="#" id="DeleteAppointemnt">
        Delete</a> |</span> 
        if (Model.appointment.repeating != null)
        {
            <span> <a href="#" id="DeleteAppointemntseries">
            Delete Series</a> |</span>
        }
    }
    @Html.ActionLink("Back to Calendar", "Index")
</p>
<div id="dialog-confirmAppointment" title="Confirm Appointment?">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        You are about to confirm this Appointmnet, are you sure you want to do this?</p>
</div>
<div id="dialog-confirmAppointmentSeries" title="Confirm Appointment Series?">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        You are about to confirm this series of Appointmnets, are you sure you want to do this?</p>
</div>
<div id="dialog-confirm" title="Delete Appointment?">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        This Appointment will be permanently deleted and cannot be recovered. Are you sure
        you want to delete this?</p>
</div>
<div id="dialog-confirm-series" title="Delete Appointment Series?">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        This Appointment and all the appointments part of this series will be permanently deleted and cannot be recovered. Are you sure
        you want to delete this?</p>
</div>
<div id="dialog-message-error" title="Error">
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;">
        </span>An Error has occcured please check to confirm that this appointment exists.
        If you still would like to delete this appointment please try again.
    </p>
</div>
<div id="dialog-message-success" title="Success!">
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;">
        </span>You have successfully deleted the appointment!
    </p>
</div>
<div id="dialog-message-success-series" title="Success!">
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;">
        </span>You have successfully deleted all the appointments part of this series!
    </p>
</div>
<div id="dialog-message-success-confirm" title="Success!">
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;">
        </span>You have successfully confirmed the appointments!
    </p>
</div>
<div id="dialog-message-success-confirm-series" title="Success!">
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;">
        </span>You have successfully confirmed this series of appointments!
    </p>
</div>
@Html.HiddenFor(model => model.appointment.appointmentid, new { @id = "appointmentid" })
@Html.HiddenFor(model => model.appointment.repeating, new { @id = "hdnRepID" })
<input type="hidden" id="hdnAttendID" />
<script>
    $(function () {

    $("#dialog-message-success").dialog({
                                autoOpen: false,
                                height: 200,
                                width: 450,
                                modal: true,
                                buttons: {
                                    Ok: function() {
                                        location = "@Url.Content("~/Calendar")";
                                    }
                                }
                            });

    $("#dialog-message-success-confirm").dialog({
                                autoOpen: false,
                                height: 200,
                                width: 450,
                                modal: true,
                                buttons: {
                                    Ok: function() {
                                        location = "@Url.Content(Request.Url.AbsoluteUri)";
                                    }
                                }
                            });

    $("#dialog-message-success-confirm-series").dialog({
                                autoOpen: false,
                                height: 200,
                                width: 450,
                                modal: true,
                                buttons: {
                                    Ok: function() {
                                        location = "@Url.Content(Request.Url.AbsoluteUri)";
                                    }
                                }
                            });

    $("#dialog-message-success-series").dialog({
                                autoOpen: false,
                                height: 200,
                                width: 450,
                                modal: true,
                                buttons: {
                                    Ok: function() {
                                        location = "@Url.Content("~/Calendar")";
                                    }
                                }
                            });

    $("#dialog-message-error").dialog({
                                autoOpen: false,
                                height: 200,
                                width: 450,
                                modal: true,
                                buttons: {
                                    Ok: function() {
                                        location = "@Url.Content("~/Calendar")";
                                    }
                                }
                            });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 200,
            width: 450,
            modal: true,
            buttons: {
                "Delete this item": function () {
                    $.ajax({
                        url: "/Calendar/Delete/" + document.getElementById("appointmentid").value,
                        type: "POST",
                        data: { },
                        dataType: "json",
                        success: function (data) {
                            $("#dialog-message-success").dialog("open");
                        },
                        complete: function (jqXHR, textStatus) {
                            
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#dialog-message-error").dialog("open");
                        }
                    });
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-confirm-series").dialog({
            autoOpen: false,
            resizable: false,
            height: 200,
            width: 450,
            modal: true,
            buttons: {
                "Delete this item": function () {
                    $.ajax({
                        url: "/Calendar/DeleteSeries/" + document.getElementById("hdnRepID").value,
                        type: "POST",
                        data: { },
                        dataType: "json",
                        success: function (data) {
                            $("#dialog-message-success-confirm").dialog("open");
                        },
                        complete: function (jqXHR, textStatus) {
                            
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#dialog-message-error").dialog("open");
                        }
                    });
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-confirmAppointment").dialog({
            autoOpen: false,
            resizable: false,
            height: 200,
            width: 450,
            modal: true,
            buttons: {
                "Confirm this Appointment": function () {
                    $.ajax({
                        url: "/Calendar/Confirm",
                        type: "POST",
                        data: { 
                                ID: document.getElementById("hdnAttendID").value,
                                AppointmentID: document.getElementById("appointmentid").value
                        },
                        dataType: "json",
                        success: function (data) {
                            $("#dialog-message-success-confirm").dialog("open");
                        },
                        complete: function (jqXHR, textStatus) {
                            
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#dialog-message-error").dialog("open");
                        }
                    });
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-confirmAppointmentSeries").dialog({
            autoOpen: false,
            resizable: false,
            height: 200,
            width: 450,
            modal: true,
            buttons: {
                "Confirm this series of Appointments": function () {
                    $.ajax({
                        url: "/Calendar/ConfirmSeries",
                        type: "POST",
                        data: { 
                                ID: document.getElementById("hdnAttendID").value,
                                AppointmentID: document.getElementById("appointmentid").value,
                                repeatingID: document.getElementById("hdnRepID").value
                         },
                        dataType: "json",
                        success: function (data) {
                            $("#dialog-message-success-confirm-series").dialog("open");
                        },
                        complete: function (jqXHR, textStatus) {
                            
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#dialog-message-error").dialog("open");
                        }
                    });
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".confirm")
            .click(function () {
                document.getElementById("hdnAttendID").value = $(this).attr("value");
                $("#dialog-confirmAppointment").dialog("open");
            });

        $(".confirmseries")
            .click(function () {
                document.getElementById("hdnAttendID").value = $(this).attr("value");
                $("#dialog-confirmAppointmentSeries").dialog("open");
            });

        $("#DeleteAppointemnt")
            .click(function () {
                $("#dialog-confirm").dialog("open");
            });

        $("#DeleteAppointemntseries")
            .click(function () {
                $("#dialog-confirm-series").dialog("open");
            });

    });
</script>
