@model AdvisementSys.Models.Request.DetailsLateEnrollementModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/css/note.form.css")" rel="stylesheet" type="text/css" />
<div id="topAnchor"></div>
<h2>Request for Late Enrolment</h2>

@Html.HiddenFor(model => model._requestForLateEnrolment.enrolementid)
@Html.HiddenFor(model => model._requestForLateEnrolment.issueid)
<table style="width: 800px;">
    <tr>
        <td colspan="4">
            <h3>Student Information</h3>
        </td>
    </tr>
    <tr>
        <td>
            Name:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.fname)
            @Html.DisplayFor(model => model._student.lname)
        </td>
        <td>
            Student ID:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.studentid)
        </td>
    </tr>
    <tr>
        <td>
            Campus:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.campus)
        </td>
        <td>
            Program:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.programcode) - @Html.DisplayFor(model => model._student.program.programname)
        </td>
    </tr>
    <tr>
        <td>
            Term:
        </td>
        <td>
            @Html.DisplayFor(model => model._requestForLateEnrolment.incomingterm)
        </td>
        <td>
            Status:
        </td>
        <td>
            @Html.DisplayFor(model => model._requestForLateEnrolment.status)
        </td>
    </tr>
    <tr>
        <td>
            Date:
        </td>
        <td>
            @Html.DisplayFor(model => model._requestForLateEnrolment.date)
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <h3>Late Enrolment Information</h3>
        </td>  
    </tr>
    <tr>
        <td>
            Current Capacity:
        </td>
        <td>
            @Html.DisplayFor(model => model._requestForLateEnrolment.currentcap)
        </td>
    </tr>
    <tr>
        <td>
            Course Code:
        </td>
        <td>
            @Html.DisplayFor(model => model._requestForLateEnrolment.coursecode)
        </td>
        <td>
            Course Title:
        </td>
        <td>
            @Html.DisplayFor(model => model._requestForLateEnrolment.coursetitle)
        </td>
    </tr>
    <tr>
        <td>
            CLS#:
        </td>
        <td>
            @Html.DisplayFor(model => model._requestForLateEnrolment.clsnum)
        </td>
        <td>
            Program Code:
        </td>
        <td>
            @Html.DisplayFor(model => model._requestForLateEnrolment.programcode)
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model._requestForLateEnrolment.enrolementid }) |
    @Html.ActionLink("Back to Student Issue", "Details/" + Model._requestForLateEnrolment.issueid, "Issue")
    | <a href="#noteCreate">Create New Note</a>
</p>

@foreach (var item in Model._note)
{
    <table class="noteThread">
        <thead>
            <tr>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.employee.fname) @Html.DisplayFor(modelItem => item.employee.lname)</strong>
                </td>
                <td style="text-align: right;">
                    <strong>@Html.DisplayFor(modelItem => item.dates)</strong>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.employee.faculty)
                </td>
                <td style="text-align: right;">
                    <a href="mailto:" @item.employee.email>@Html.DisplayFor(modelItem => item.employee.email)
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    @if (User.Identity.Name == item.employeeid)
                    {
                        @Html.ActionLink("Edit Issue Note", "EditNote", new { id = item.noteid })
                    }
                </td>
                <td style="text-align: right;">
                    @Html.DisplayFor(modelItem => item.employee.phonenum)
                </td>
            </tr>
        </thead>
        <tbody style="background-color: #F5F5F5;">
            <tr>
                <td colspan="2">
                    @Html.DisplayFor(modelItem => item.notes)
                </td>
            </tr>
        </tbody>
    </table>
    <br />
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
   
    @Html.HiddenFor(model => model._NewNote.issueid, new { @Value = Model._requestForLateEnrolment.issueid })
    @Html.HiddenFor(model => model._NewNote.formid, new { @Value = Model._requestForLateEnrolment.enrolementid })
    <table class="addNoteBox" id="noteCreate">
        <tr>
            <td colspan="2" style="text-align: center;">
                <h3>
                    New Note</h3>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model._employee.fname)&nbsp;@Html.DisplayFor(model => model._employee.lname)
            </td>
            <td style="text-align: right;">
                @Html.DisplayFor(model => model._date, new { @Value = Model._date.ToString("dd/MM/yyyy") })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model._employee.faculty)
            </td>
            <td style="text-align: right;">
                @Html.DisplayFor(model => model._employee.email)
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                @Html.DisplayFor(model => model._employee.phonenum)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.TextAreaFor(model => model._NewNote.notes, new { @style = "width:775px; height:200px; resize:none;" })
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Create Note" class="Button" style="position: relative;
                    left: 10px;" />
            </td>
        </tr>
    </table>
}
<p>
    @Html.ActionLink("Back to Student Issue", "Details/" + Model._requestForLateEnrolment.issueid, "Issue")
    | <a href="#topAnchor">Go to Top</a>  
</p>