@model AdvisementSys.Models.Request.DetailsLateEnrollementModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Request for Late Enrolment</h2>

@Html.HiddenFor(model => model._requestForLateEnrolment.enrolementid)
@Html.HiddenFor(model => model._requestForLateEnrolment.issueid)
<table style="width: 800px;">
    <tr>
        <td colspan="4">
            <h3>Student Information</h3>
        </td>
    </tr>
    <tr>
        <td>
            Name:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.fname)
            @Html.DisplayFor(model => model._student.lname)
        </td>
        <td>
            Student ID:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.studentid)
        </td>
    </tr>
    <tr>
        <td>
            Campus:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.campus)
        </td>
        <td>
            Program:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.programcode) - @Html.DisplayFor(model => model._student.program.programname)
        </td>
    </tr>
    <tr>
        <td>
            Term:
        </td>
        <td>
            @Html.DisplayFor(model => model._requestForLateEnrolment.incomingterm)
        </td>
        <td>
            Status:
        </td>
        <td>
            @Html.DisplayFor(model => model._requestForLateEnrolment.status)
        </td>
    </tr>
    <tr>
        <td>
            Date:
        </td>
        <td>
            @Html.DisplayFor(model => model._requestForLateEnrolment.date)
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <h3>Late Enrolment Information</h3>
        </td>  
    </tr>
    <tr>
        <td>
            Current Capacity:
        </td>
        <td>
            @Html.DisplayFor(model => model._requestForLateEnrolment.currentcap)
        </td>
        <!--
        <td>
            Date/Time:
        </td>
        <td>
            ???
        </td>
        -->
    </tr>
    <tr>
        <td>
            Course Code:
        </td>
        <td>
            @Html.DisplayFor(model => model._requestForLateEnrolment.coursecode)
        </td>
        <td>
            Course Title:
        </td>
        <td>
            @Html.DisplayFor(model => model._requestForLateEnrolment.coursetitle)
        </td>
    </tr>
    <tr>
        <td>
            CLS#:
        </td>
        <td>
            @Html.DisplayFor(model => model._requestForLateEnrolment.clsnum)
        </td>
        <td>
            Program Code:
        </td>
        <td>
            @Html.DisplayFor(model => model._requestForLateEnrolment.programcode)
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model._requestForLateEnrolment.enrolementid }) |
    @Html.ActionLink("Back to Student Issue", "Details/" + Model._requestForLateEnrolment.issueid, "Issue")
</p>
