@model AdvisementSys.Models.requestForLateEnrolment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>requestForLateEnrolment</legend>

    <div class="display-label">enrolementid</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.enrolementid)
    </div>

    <div class="display-label">date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date)
    </div>

    <div class="display-label">coursecode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.coursecode)
    </div>

    <div class="display-label">programcode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.programcode)
    </div>

    <div class="display-label">status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>

    <div class="display-label">issue</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.issue.studentid)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.enrolementid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
