@model AdvisementSys.Models.part_timeAnd_orAdditionalCourseRegistrationForm

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/css/web.form.css")" rel="stylesheet" type="text/css" />

<div class="contentDiv">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <h2>New Course Registration Form</h2>
    <p>Please complete the following fields in order to create a new course registration form in the database.</p>
   
        <div class="editor-label">
            @Html.LabelFor(model => model.registrationid)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.registrationid)
            @Html.ValidationMessageFor(model => model.registrationid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.issueid, "issue")
        </div>
        <div class="editor-field">
            @Html.DropDownList("issueid", String.Empty)
            @Html.ValidationMessageFor(model => model.issueid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.date)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.date)
            @Html.ValidationMessageFor(model => model.date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.coursecode)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.coursecode)
            @Html.ValidationMessageFor(model => model.coursecode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.coursecharges)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.coursecharges)
            @Html.ValidationMessageFor(model => model.coursecharges)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.matfees)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.matfees)
            @Html.ValidationMessageFor(model => model.matfees)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.compcharges)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.compcharges)
            @Html.ValidationMessageFor(model => model.compcharges)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.status)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.status)
            @Html.ValidationMessageFor(model => model.status)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div>
