@model AdvisementSys.Models.Request.DetailsCourseRegistrationModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    double number1 = double.Parse(Model._part_timeAnd_orAdditionalCourseRegistrationForm.matfees.ToString());
    double n2 = double.Parse(Model._part_timeAnd_orAdditionalCourseRegistrationForm.coursecharges.ToString());
    double n3 = double.Parse(Model._part_timeAnd_orAdditionalCourseRegistrationForm.compcharges.ToString());
    double x = number1 + n2 + n3;
    
}

<link href="@Url.Content("~/Content/css/note.form.css")" rel="stylesheet" type="text/css" />
<div id="topAnchor"></div>
<h2>Details for Part-Time and/or/ Additional Course Registration Form</h2>

@Html.HiddenFor(model => model._part_timeAnd_orAdditionalCourseRegistrationForm.registrationid)
@Html.HiddenFor(model => model._part_timeAnd_orAdditionalCourseRegistrationForm.issueid)

<table style="width: 800px;">
    <tr>
        <td colspan="4">
            <h3>Student Information</h3>
        </td>
    </tr>
    <tr>
        <td>
            Name:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.fname)
            @Html.DisplayFor(model => model._student.lname)
        </td>
        <td>
            Student #:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.studentid)
        </td>
    </tr>
    <tr>
        <td>
            Program:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.programcode) - @Html.DisplayFor(model => model._student.program.programname)
        </td>
        <td>
            International Student:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.international)
        </td>
    </tr>
    <tr>
        <td>
            Term:
        </td>
        <td>
            @Html.DisplayFor(model => model._part_timeAnd_orAdditionalCourseRegistrationForm.term)
        </td>
        <td>
            Date:
        </td>
        <td>
            @Html.DisplayFor(model => model._part_timeAnd_orAdditionalCourseRegistrationForm.date)
        </td>
    </tr>
    <tr>
        <td>
            Status:
        </td>
        <td>
            @Html.DisplayFor(model => model._part_timeAnd_orAdditionalCourseRegistrationForm.status)
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <h3>Course Registration Information</h3>
        </td>
    </tr>
    <tr>
        <td>
            CLS #:
        </td>
        <td>
            @Html.DisplayFor(model => model._part_timeAnd_orAdditionalCourseRegistrationForm.clsnum)
        </td>
        <td>
            Course Code:
        </td>
        <td>
            @Html.DisplayFor(model => model._part_timeAnd_orAdditionalCourseRegistrationForm.coursecode)
        </td>
    </tr>
    <tr>
        <td>
            Credit Value:
        </td>
        <td>
            @Html.DisplayFor(model => model._part_timeAnd_orAdditionalCourseRegistrationForm.creditvalue)
        </td>
        <td>
            Course Cost:
        </td>
        <td>
            $ @Html.DisplayFor(model => model._part_timeAnd_orAdditionalCourseRegistrationForm.coursecharges, new { id="testCost"})
        </td>
    </tr>
    <tr>
        <td>
            Program Materials/Kit Charges (if applicable):
        </td>
        <td>
            $ @Html.DisplayFor(model => model._part_timeAnd_orAdditionalCourseRegistrationForm.matfees)
        </td>
        <td>
            Mobile Computing Charges (if applicable):
        </td>
        <td>
            $ @Html.DisplayFor(model => model._part_timeAnd_orAdditionalCourseRegistrationForm.compcharges)
        </td>
    </tr>
    <tr>
        <td>
            Total:
        </td>
        <td>
            $ @String.Format("{0:0.00}", x)
           
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model._part_timeAnd_orAdditionalCourseRegistrationForm.registrationid }) |
    @Html.ActionLink("Back to Student Issue", "Details/" + Model._part_timeAnd_orAdditionalCourseRegistrationForm.issueid, "Issue")
    | <a href="#noteCreate">Create New Note</a> 
</p>

@foreach (var item in Model._note)
{
    <table class="noteThread">
        <thead>
            <tr>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.employee.fname) @Html.DisplayFor(modelItem => item.employee.lname)</strong>
                </td>
                <td style="text-align: right;">
                    <strong>@Html.DisplayFor(modelItem => item.dates)</strong>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.employee.faculty)
                </td>
                <td style="text-align: right;">
                    <a href="mailto:@item.employee.email?subject=Part-Time and/or Additional Course Registration Form From @Model._part_timeAnd_orAdditionalCourseRegistrationForm.date">@Html.DisplayFor(modelItem => item.employee.email)
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    @if (User.Identity.Name == item.employeeid)
                    {
                        @Html.ActionLink("Edit Issue Note", "EditNote", new { id = item.noteid })
                    }
                </td>
                <td style="text-align: right;">
                    @Html.DisplayFor(modelItem => item.employee.phonenum)
                </td>
            </tr>
        </thead>
        <tbody style="background-color: #F5F5F5;">
            <tr>
                <td colspan="2">
                    @Html.TextAreaFor(modelItem => item.notes, new { @style = "width:800px; height:100px;overflow: hidden; border: none;background:none", @readonly = "readonly" })
                </td>
            </tr>
        </tbody>
    </table>
    <br />
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
   
    @Html.HiddenFor(model => model._NewNote.issueid, new { @Value = Model._part_timeAnd_orAdditionalCourseRegistrationForm.issueid })
    @Html.HiddenFor(model => model._NewNote.formid, new { @Value = Model._part_timeAnd_orAdditionalCourseRegistrationForm.registrationid })
    <table class="addNoteBox" id="noteCreate">
        <tr>
            <td colspan="2" style="text-align: center;">
                <h3>
                    New Note</h3>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model._employee.fname)&nbsp;@Html.DisplayFor(model => model._employee.lname)
            </td>
            <td style="text-align: right;">
                @Html.DisplayFor(model => model._date, new { @Value = Model._date.ToString("dd/MM/yyyy") })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model._employee.faculty)
            </td>
            <td style="text-align: right;">
                @Html.DisplayFor(model => model._employee.email)
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                @Html.DisplayFor(model => model._employee.phonenum)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.TextAreaFor(model => model._NewNote.notes, new { @style = "width:775px; height:200px; resize:none;" })
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Create Note" class="Button" style="position: relative;
                    left: 10px;" />
            </td>
        </tr>
    </table>
}

<p>
    @Html.ActionLink("Back to Student Issue", "Details/" + Model._part_timeAnd_orAdditionalCourseRegistrationForm.issueid, "Issue")
    | <a href="#topAnchor">Go to Top</a>  
</p>