@model AdvisementSys.Models.issue

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>issue</legend>

    <div class="display-label">student</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.student.fname)
    </div>

    <div class="display-label">date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date)
    </div>

    <div class="display-label">status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>

    <div class="display-label">urgency</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.urgency)
    </div>

    <div class="display-label">issuename</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.issuename)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.issueid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
