@model AdvisementSys.Models.note

@{
    ViewBag.Title = "EditNote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditNote</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>note</legend>

        @Html.HiddenFor(model => model.noteid)
        @Html.HiddenFor(model => model.employeeid)
        @Html.HiddenFor(model => model.issueid)
        @Html.HiddenFor(model => model.dates)

        <table>
            <tr>
            <td>
                @Html.DisplayFor(model => model.employee.fname) &nbsp; @Html.DisplayFor(model => model.employee.lname) <br /> @Html.DisplayFor(model => model.dates)
            </td>
            <td>
                @Html.DisplayFor(model => model.employee.faculty) <br /> @Html.DisplayFor(model => model.employee.email) <br /> @Html.DisplayFor(model => model.employee.phonenum)
            </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.TextAreaFor(model => model.notes, new { @style = "width:775px; height:200px; resize:none;" })
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <input type="submit" value="Save" />
                    </p>
                </td>
            </tr>
        </table>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
