@model AdvisementSys.Models.Request.EditIssueRequestModel

@{
    ViewBag.Title = "Update Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/css/web.form.css")" rel="stylesheet" type="text/css" />
<div class="contentDiv">
@using (Html.BeginForm("Edit", "Issue", FormMethod.Post, new { id = "issueForm", name = "issueForm" }))
{
    @Html.ValidationSummary(true)
    <h2>Update Issue Details for: @Html.DisplayFor(model => model._student.fname) @Html.DisplayFor(model => model._student.lname)</h2>
        <p>Please complete the following fields in order to update the issue in the database.</p>
    
        <table style="width:900px;">
        <tr>
           <td><h3>Student Information</h3></td>
        </tr>
        @Html.HiddenFor(model => model._issue.issueid)
        @Html.HiddenFor(model => model._issue.studentid)
        
        <tr>
            <td><div class="display-label">Student ID:</div></td>
            <td><div class="display-field">@Html.DisplayFor(model => model._student.studentid)</div></td>
            <td><div class="display-label">Email: </div></td>
            <td><div class="display-field">@Html.DisplayFor(model => model._student.email)</div></td>      
        </tr>  
        
        <tr>
            <td><div class="display-label">First Name:</div></td>
            <td><div class="display-field">@Html.DisplayFor(model => model._student.fname)</div></td>
            <td><div class="display-label">Phone Number:</div></td>
            <td><div class="display-field">@Html.DisplayFor(model => model._student.phonenum)</div></td>
        </tr>
        
        <tr>
            <td><div class="display-label">Last Name:</div></td>
            <td><div class="display-field">
            @Html.DisplayFor(model => model._student.lname)
            </div></td>
            <td><div class="display-label">Cell Number:</div></td>
            <td><div class="display-field">
                @Html.DisplayFor(model => model._student.cellnum)
            </div></td>
        </tr>
        <tr>
            <td><div class="display-label">Program:</div>
            </td>
            <td><div class="display-field">
            @Html.DisplayFor(model => model._student.programcode) - @Html.DisplayFor(model => model._program.programname)
            </div></td>
            <td><div class="display-label">Campus:</div></td>
            <td><div class="display-field">
            @Html.DisplayFor(model => model._student.campus)
        </div></td>
        </tr>

        <tr>
           <td><h3>Issue Information</h3></td>
        </tr>

         <tr>
            <td><div class="editor-label">
            @Html.LabelFor(model => model._issue.issuename, "*Issue Name:")
        </div></td>
            <td><div class="editor-field">
            @Html.TextBoxFor(model => model._issue.issuename, new { @class = "required", @style="width:240px;" })
            @Html.ValidationMessageFor(model => model._issue.issuename)
        </div></td>
            <td><div class="editor-label">
            @Html.LabelFor(model => model._issue.date, "Date:")
        </div></td>
            <td><div class="editor-field">
            @Html.TextBoxFor(model => model._issue.date, new { @id = "DatePicker", @Value = Model._issue.date.ToString("dd/MM/yyyy"), @style="width: 180px;" })
            @Html.ValidationMessageFor(model => model._issue.date)
        </div></td>
        </tr>
        
        <tr>
        <td> <div class="editor-label">
            @Html.LabelFor(model => model._issue.status, "Status:")
        </div></td>
        <td><div class="editor-field">
            @Html.DropDownListFor(model => model._issue.status, new SelectList(new[] { "In Progress", "On Hold", "Complete", "Pending" }, Model._issue.status), new { @style = "width:190px;" })
            @Html.ValidationMessageFor(model => model._issue.status)
        </div></td>
        <td><div class="editor-label">
            @Html.LabelFor(model => model._issue.urgency, "Urgency:")
        </div></td>
        <td><div class="editor-field">
            @Html.DropDownListFor(model => model._issue.urgency, new SelectList(new[] { "High", "Medium", "Low" }, Model._issue.urgency), new { @style = "width:190px;" })
            @Html.ValidationMessageFor(model => model._issue.urgency)
        </div></td>
        </tr>  
        
        <tr>
            <td>
                <div class="display-label">
                    Owner:</div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DropDownListFor(model => model._issue.employeeid, new SelectList(Model._employee, Model._issue.employeeid), new { id = "ownerField", @class = "select1Validation" })
                </div>
            </td>
            <td>
                <div class="display-label">
                    Category:</div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DropDownListFor(model => model._issue.catagory, new SelectList(Model._catagory, "catagory1", "catagory1"), new { @style = "width:190px;" })
                </div>
            </td>
        </tr>
        <tr>
            <td style="position:absolute; top:380px;">
                Description:
            </td>
            <td colspan="3">
                <div class="display-field">
                    @Html.TextAreaFor(model => model._issue.description, new { @style = "width:650px; height:80px; resize:none;" })
                </div>
            </td>   
        </tr>
        </table>


        <div>
            <input type="Submit" value="Update" class="Button"/>
        </div>
           <p>Fields marked with an * are mandatory.</p>    
}

<div>
    @Html.ActionLink("Back to Issue", "Details/" + Model._issue.issueid)
</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.addMethod("select1Validation", function (value) {
            if ($('#ownerField').val() == "Please Select an Employee") {
                return false;
            }
            else {
                return true;
            }
        }, 'Please Select required fields');
        $("#issueForm").validate();
        $("#DatePicker").datepicker({ dateFormat: "dd/mm/yy" });
    });
</script>