@model AdvisementSys.Models.Request.IndexIssueRequestModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/grid.form.css")" rel="stylesheet" type="text/css" />
<h2>Index</h2>

@using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <table>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model._issue.First().issuename, "Issue Name:")
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model._name)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model._issue.First().employeeid, "Owner:")
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model._employeeid, new SelectList(Model._employee, Model._employeeid), new { @class = "DDL" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model._status, "Please Select Status:")
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model._status, new SelectList(new[] { "Please Select a Status", "In Progress", "On Hold", "Complete" }))
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model._urgency, "Please Select a Urgency:")
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model._urgency, new SelectList(new[] { "Please Select an Urgency Level", "High", "Medium", "Low" }))
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model._category, "Please Select a Category:")
                </td>
                <td>
                    @Html.DropDownListFor(model => model._category, new SelectList(Model._catagories, "catagory1", "catagory1", Model._category), new { @class = "DDL" })
                </td>
                <td>
                    @Html.LabelFor(model => model._category, "Please Select a Program:")
                </td>
                <td>
                    @Html.DropDownListFor(model => model._selectedpcode, new SelectList(Model._programcode,Model._selectedpcode), new { @class = "DDL" })
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        Please Enter a range of dates:
                    </div>
                </td>
                <td colspan="3">
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model._date1, new { @id = "datepicker" }) &nbsp; - &nbsp; @Html.TextBoxFor(model => model._date2, new { @id = "datepicker1" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Search" class="Button" />
                </td>
                <td>
                    <input type="reset" value="Reset" class="Button" />
                </td>
            </tr>
        </table>
    }

<table class="resultsissue">
    <tr>
        <th></th>
        <th>
            Date
        </th>
        <th>
            Status
        </th>
        <th>
            Urgency
        </th>
        <th>
            Issue Name
        </th>
        <th>
            Category
        </th>
        <th>
            Owner
        </th>
    </tr>

    @foreach (var item in Model._issue)
    {
        <tr>
            <td class="resultstd" style="text-align:center;">
                @Html.ActionLink("Details", "Details", new { id = item.issueid })
            </td>
            <td class="resultstd">
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td class="resultstd">
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td class="resultstd">
                @Html.DisplayFor(modelItem => item.urgency)
            </td>
            <td class="resultstd">
                @Html.DisplayFor(modelItem => item.issuename)
            </td>
            <td class="resultstd">
                @Html.DisplayFor(modelItem => item.catagory)
            </td>
            <td class="resultstd">
                @Html.DisplayFor(modelItem => item.employeeid)
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#datepicker").datepicker({ dateFormat: "dd/mm/yy" });
        $("#datepicker1").datepicker({ dateFormat: "dd/mm/yy" });
    });
</script>