@model AdvisementSys.Models.Request.DetailsProbationaryContractModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>probationaryContractPlan</legend>

    @Html.HiddenFor(model => model._probationaryContractPlan.advisementid)
    @Html.HiddenFor(model => model._probationaryContractPlan.issueid)

    <div class="display-label">
        First Name:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model._student.fname)
    </div>

    <div class="display-label">
        Last Name:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model._student.lname)
    </div>

    <div class="display-label">
        Student ID:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model._student.studentid)
    </div>

    <div class="display-label">
        Program:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model._student.programcode) - @Html.DisplayFor(model => model._student.program.programname)
    </div>

    <div class="editor-label">
        Incoming Term:</div>
        
    <div class="editor-field">
        @Html.DisplayFor(model => model._probationaryContractPlan.incomingterm)
    </div>

    <div class="display-label">date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model._probationaryContractPlan.date, new { @Value = Model._probationaryContractPlan.date.ToString("dd MMM yyyy") })
    </div>

    <div class="display-label">particulers</div>
    <div class="display-field">
        @Html.DisplayFor(model => model._probationaryContractPlan.particulers)
    </div>

    <div class="display-label">conditions</div>
    <div class="display-field">
        @Html.DisplayFor(model => model._probationaryContractPlan.conditions)
    </div>

    <div class="display-label">status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model._probationaryContractPlan.status)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model._probationaryContractPlan.advisementid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
