@model AdvisementSys.Models.Request.DetailsProbationaryContractModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

    @Html.HiddenFor(model => model._probationaryContractPlan.advisementid)
    @Html.HiddenFor(model => model._probationaryContractPlan.issueid)

<table style="width: 800px;">
    <tr>
        <td colspan="4">
            <h3>Student Information</h3>
        </td>
    </tr>
    <tr>
        <td>
            Name:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.fname)
            @Html.DisplayFor(model => model._student.lname)
        </td>
        <td>
                Student ID:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.studentid)
        </td>
    </tr>
    <tr>
        <td>
            Program:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.programcode) - @Html.DisplayFor(model => model._student.program.programname)
        </td>
        <td>
            Incoming Term:
        </td>
        <td>
            @Html.DisplayFor(model => model._probationaryContractPlan.incomingterm)
        </td>
    </tr>

    <tr>
        <td>
            Date:
        </td>
        <td>
            @Html.DisplayFor(model => model._probationaryContractPlan.date, new { @Value = Model._probationaryContractPlan.date.ToShortDateString() })
        </td>
        <td>
            Status:
        </td>
        <td>
            @Html.DisplayFor(model => model._probationaryContractPlan.status)
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <h3>Probationary Info</h3>
        </td>
    </tr>
    <tr>
        <td>
            Particulars:
        </td>
    </tr>
    <tr>
        <td colspan="4">
            @Html.DisplayFor(model => model._probationaryContractPlan.particulers)
        </td>
    </tr>
    <tr>
        <td>
            Conditions:
        </td>
    </tr>
    <tr>
        <td colspan="4">
            @Html.DisplayFor(model => model._probationaryContractPlan.conditions)
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model._probationaryContractPlan.advisementid }) |
    @Html.ActionLink("Back to Issue", "Details/" + Model._probationaryContractPlan.issueid, "Issue") 
</p>

@foreach (var item in Model._note)
{
    <table class="resultstd">
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employee.fname) &nbsp; @Html.DisplayFor(modelItem => item.employee.lname) <br /> @Html.DisplayFor(modelItem => item.dates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.faculty) <br /> <a href="mailto:" @item.employee.email> @Html.DisplayFor(modelItem => item.employee.email) </a> <br /> @Html.DisplayFor(modelItem => item.employee.phonenum)
            </td>
            <td>
                @if (User.Identity.Name == item.employeeid)
                {
                    @Html.ActionLink("Edit Issue Note", "EditNote/" + item.noteid, "Issue")
                }
            </td>
        </tr>
        <tr>
            <td colspan="3">
                @Html.DisplayFor(modelItem => item.notes)
            </td>
        </tr>
    </table>
    <br />
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset id="noteCreate">
    @Html.HiddenFor(model => model._NewNote.issueid, new { @Value = Model._probationaryContractPlan.issueid })
    @Html.HiddenFor(model => model._NewNote.formid, new { @Value = Model._probationaryContractPlan.advisementid })
        <table>
            <tr>
            <td>
                @Html.DisplayFor(model => model._employee.fname) &nbsp; @Html.DisplayFor(model => model._employee.lname) <br /> @Html.DisplayFor(model => model._date, new { @Value = Model._date.ToString("dd/MM/yyyy") })
            </td>
            <td>
                @Html.DisplayFor(model => model._employee.faculty) <br /> @Html.DisplayFor(model => model._employee.email) <br /> @Html.DisplayFor(model => model._employee.phonenum)
            </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.TextAreaFor(model => model._NewNote.notes, new { @style = "width:775px; height:200px; resize:none;" })
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <input type="submit" value="Create" />
                    </p>
                </td>
            </tr>
        </table>
    </fieldset>
}