@model AdvisementSys.Models.Request.DetailsProbationaryContractModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

    @Html.HiddenFor(model => model._probationaryContractPlan.advisementid)
    @Html.HiddenFor(model => model._probationaryContractPlan.issueid)

<table style="width: 800px;">
    <tr>
        <td colspan="4">
            <h3>Student Information</h3>
        </td>
    </tr>
    <tr>
        <td>
            Name:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.fname)
            @Html.DisplayFor(model => model._student.lname)
        </td>
        <td>
                Student ID:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.studentid)
        </td>
    </tr>
    <tr>
        <td>
            Program:
        </td>
        <td>
            @Html.DisplayFor(model => model._student.programcode) - @Html.DisplayFor(model => model._student.program.programname)
        </td>
        <td>
            Incoming Term:
        </td>
        <td>
            @Html.DisplayFor(model => model._probationaryContractPlan.incomingterm)
        </td>
    </tr>

    <tr>
        <td>
            Date:
        </td>
        <td>
            @Html.DisplayFor(model => model._probationaryContractPlan.date, new { @Value = Model._probationaryContractPlan.date.ToShortDateString() })
        </td>
        <td>
            Status:
        </td>
        <td>
            @Html.DisplayFor(model => model._probationaryContractPlan.status)
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <h3>Probationary Info</h3>
        </td>
    </tr>
    <tr>
        <td>
            Particulars:
        </td>
    </tr>
    <tr>
        <td colspan="4">
            @Html.DisplayFor(model => model._probationaryContractPlan.particulers)
        </td>
    </tr>
    <tr>
        <td>
            Conditions:
        </td>
    </tr>
    <tr>
        <td colspan="4">
            @Html.DisplayFor(model => model._probationaryContractPlan.conditions)
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model._probationaryContractPlan.advisementid }) |
    @Html.ActionLink("Back to Issue", "Details/" + Model._probationaryContractPlan.issueid, "Issue") 
</p>