@model IEnumerable<AdvisementSys.Models.probationaryContractPlan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            advisementid
        </th>
        <th>
            date
        </th>
        <th>
            particulers
        </th>
        <th>
            conditions
        </th>
        <th>
            status
        </th>
        <th>
            issue
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.advisementid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.particulers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.conditions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.issue.studentid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.advisementid }) |
            @Html.ActionLink("Details", "Details", new { id = item.advisementid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.advisementid })
        </td>
    </tr>
}

</table>
