@model AdvisementSys.Models.student
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>

<link href="@Url.Content("~/Content/css/web.form.css")" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("Create", "Student", FormMethod.Post, new {id="studentForm", name="studentForm" }))
{
    @Html.ValidationSummary(true)
    <p>Please complete the following fields in order to create a new student in the database.</p>
    <fieldset>
        <legend><h2>Create Student</h2></legend>
        <table>
            <tr>
                <td><h3>Student Information</h3></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.studentid, "Student ID")
                </td>
                <td>
                     @Html.TextBoxFor(model => model.studentid, new { id = "studentId", @class = "required" })                                        
                </td>
                <td>                    
                    @Html.LabelFor(model => model.email, "*Email:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.email, new { @class="required email"})
                </td>
            </tr>

            <tr>
                <td>
                   @Html.LabelFor(model => model.fname, "*First Name:")
                </td>
                <td>
                        @Html.TextBoxFor(model => model.fname, new { id = "firstName", @class = "required" })
                         @Html.ValidationMessageFor(model => model.fname)
                </td>

                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.phonenum, "*Phone Number:")
                    </div>                    
                 </td>
                 <td>
                        @Html.TextBoxFor(model => model.phonenum, new { @class = "required" })
                        @Html.ValidationMessageFor(model => model.phonenum)
                 </td>
            </tr>
            <tr>
                <td>
                        @Html.LabelFor(model => model.lname, "*Last Name:")
            
                </td>
                <td>

                        @Html.TextBoxFor(model => model.lname, new { @class = "required" })
                        @Html.ValidationMessageFor(model => model.lname)

                </td>

                <td>

                        @Html.LabelFor(model => model.cellnum, "Cell Number:")

                </td>
                <td>

                        @Html.TextBoxFor(model => model.cellnum)
                        @Html.ValidationMessageFor(model => model.cellnum)

                </td>
            </tr>

            <tr>
                <td>

                        @Html.LabelFor(model => model.programcode, "*Program:")

                </td>
                 <td>

                        @Html.DropDownList("programcode", "Please Select a Program")
                        @Html.ValidationMessageFor(model => model.programcode)

                 </td>

                 <td>
                
                        @Html.LabelFor(model => model.campus, "*Campus:")
                     
                </td>
                 <td>
                        @Html.DropDownList("campus", "Please Select a Campus")
                        @Html.ValidationMessageFor(model => model.programcode)
              
                 </td>
            </tr>
            <tr>
                <td>                   
                    
                         @Html.LabelFor(model => model.international, "International Student:")
                                 
                </td> 
                <td>
                    
                        @Html.CheckBoxFor(model => model.international)
                        @Html.ValidationMessageFor(model => model.international)               
                   
                </td>
                <td>
                   
                        @Html.LabelFor(model => model.fulltimestatus, "Full Time:")
               
                </td>
                <td>
                  
                        @Html.CheckBoxFor(model => model.fulltimestatus)
                        @Html.ValidationMessageFor(model => model.fulltimestatus)
                  
                </td>           
            </tr>

            <tr>
                <td>                   
                    
                         @Html.LabelFor(model => model.acadprobation, "Academic Probation:")
                                      
                </td> 
                <td>
                   
                        @Html.CheckBoxFor(model => model.acadprobation)
                        @Html.ValidationMessageFor(model => model.acadprobation)               
                   
                </td>
                <td>
                    
                        @Html.LabelFor(model => model.enrolled, "Enrolled:")
                    
                </td>
                <td>
                    
                        @Html.CheckBoxFor(model => model.enrolled)
                        @Html.ValidationMessageFor(model => model.enrolled)
                    
                </td>           
            </tr>

            <tr>
                <td><h3>Address</h3></td>
            </tr>
            
            <tr>
                <td>
                
                        @Html.LabelFor(model => model.street, "*Address:")
                   
                </td>
                <td>
                    
                        @Html.TextBoxFor(model => model.street, new { @class = "required" })
                        @Html.ValidationMessageFor(model => model.street)
                     
                </td>

                <td>
                 
                        @Html.LabelFor(model => model.city, "*City:")
                    
                </td>
                <td>
                    
                        @Html.TextBoxFor(model => model.city, new { @class = "required" })
                        @Html.ValidationMessageFor(model => model.city)
                   
                </td>
            </tr>

            <tr>
                <td>
                    
                        @Html.LabelFor(model => model.appartmentnum, "Apt. Number")
                   
                </td>
                <td>
                  
                        @Html.TextBoxFor(model => model.appartmentnum)
                        @Html.ValidationMessageFor(model => model.appartmentnum)
                     
                </td>

                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.province, "*Province:")
                    </div>
                </td>
                <td>
                    
                        @Html.DropDownListFor(model => model.province, new SelectList(new[] { "Ontario", "Quebec", "Nova Scotia", "New Brunswick", "Manitoba", "British Columbia", "Prince Edward Island", "Saskatchewan", "Alberta", "Newfoundland and Labrador" }))
                        @Html.ValidationMessageFor(model => model.province)
                  
                </td>
            </tr>
            
            <tr>
                <td>
                  
                        @Html.LabelFor(model => model.postalcode, "*Postal Code:")
                   
                </td>
                <td>
                  
                        @Html.TextBoxFor(model => model.postalcode, new { @class = "required" })
                        @Html.ValidationMessageFor(model => model.postalcode)
                    
                </td>
             </tr>
            
        </table>
        <p>
         <input type="submit" value="Create" class="Button" />
        </p>
    </fieldset>
    <p>Fields marked with an * are mandatory.</p>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<!--Block UI and Validation -->
<div id="blockConfirmMessage" style="display:none">
    Student has been added!
     @Html.ActionLink("Okay", "Index")
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#studentForm").validate();
        
    });

    /**function openBlock(data) {
        $.blockUI({ message: $('#blockConfirmMessage') });
    }*/

</script>