@model AdvisementSys.Models.DetailsStudentRequestModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/css/web.form.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/grid.form.css")" rel="stylesheet" type="text/css" />
<h2 style="padding-left: 13px;">Student Details for: @Html.DisplayFor(model => model._student.fname) @Html.DisplayFor(model => model._student.lname)</h2>
<table class="tableDetail">
    <tr>
        <td>
            <h3>
                Student Information</h3>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                Student ID:
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model._student.studentid)
            </div>
        </td>
        <td>
            <div class="display-label">
                Email:
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model._student.email)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                First Name:
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model._student.fname)
            </div>
        </td>
        <td>
            <div class="display-label">
                Phone Number:
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model._student.phonenum)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                Last Name:
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DisplayFor(model => model._student.lname)
            </div>
        </td>
        <td>
            <div class="display-label">
                Cell Number:
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DisplayFor(model => model._student.cellnum)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                Program:
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model._student.program.programname)
            </div>
        </td>
        <td>
            <div class="display-label">
                Campus:
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model._student.campus)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                International Student:
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model._student.international)
            </div>
        </td>
        <td>
            <div class="display-label">
                Full Time:
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model._student.fulltimestatus)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                Academic Probation:
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model._student.acadprobation)
            </div>
        </td>
        <td>
            <div class="display-label">
                Enrolled:
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model._student.enrolled)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <h3>
                Address
            </h3>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                Address:
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model._student.street)
            </div>
        </td>
        <td>
            <div class="editor-label">
                City:
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model._student.city)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                Apt. Number:
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model._student.appartmentnum)
            </div>
        </td>
        <td>
            <div class="display-label">
                Province
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model._student.province)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                Postal Code
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model._student.postalcode)
            </div>
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Create New Issue", "Create", "Issue", new { id = Model._student.studentid }, null) |
    @Html.ActionLink("Edit", "Edit", new { id = Model._student.studentid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<table class="resultsissue">
    <tr>
        <th style="width: 10%;">
        </th>
        <th style="width: 45%;">
            Name
        </th>
        <th style="width: 15%;">
            Date
        </th>
        <th style="width: 15%;">
            Status
        </th>
        <th style="width: 15%;">
            Urgency
        </th>

    </tr>
@foreach (var item in Model._issue)
{
    <tr>
        <td class="resultstd">
            @Html.ActionLink("Details", "Details", "Issue", new { id = item.issueid }, new { @style = "text-align:center;" })
        </td>
        <td class="resultstd">
            @Html.DisplayFor(modelItem => item.issuename)
        </td>
        <td class="resultstd">
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td class="resultstd">
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td class="resultstd">
            @Html.DisplayFor(modelItem => item.urgency)
        </td>
    </tr>
}
</table> 