@model AdvisementSys.Models.student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>student</legend>

    <div class="display-label">fname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fname)
    </div>

    <div class="display-label">lname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lname)
    </div>

    <div class="display-label">program</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.program.programname)
    </div>

    <div class="display-label">campu</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.campu.street)
    </div>

    <div class="display-label">phonenum</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phonenum)
    </div>

    <div class="display-label">email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">street</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.street)
    </div>

    <div class="display-label">appartmentnum</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.appartmentnum)
    </div>

    <div class="display-label">city</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.city)
    </div>

    <div class="display-label">province</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.province)
    </div>

    <div class="display-label">postalcode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.postalcode)
    </div>

    <div class="display-label">acadprobation</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.acadprobation)
    </div>

    <div class="display-label">fulltimestatus</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fulltimestatus)
    </div>

    <div class="display-label">enrolled</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.enrolled)
    </div>

    <div class="display-label">international</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.international)
    </div>

    <div class="display-label">cellnum</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cellnum)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.studentid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
