@model AdvisementSys.Models.Request.IndexStudentRequestModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Search Students</h2>
<div>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/kendo/2012.2.710/kendo.common.min.css")" rel="stylesheet"
        type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2012.2.710/kendo.metro.min.css")" rel="stylesheet"
            type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2012.2.710/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/css/grid.form.css")" rel="stylesheet" type="text/css" />
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <table>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model._student.First().StudentID, "Student ID:")
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBox("studentid", value: Model.studentID)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model._student.First().Email, "Email:")
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBox("email", value: Model.email)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model._student.First().FName, "First Name:")
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBox("fname", value: Model.fName)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model._student.First().LName, "Last Name:")
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBox("lname", value: Model.lName)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model._student.First().Prog, "Program:")
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownList("programcode", "Please Select a Program")
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model._student.First().Campus, "Campus:")
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownList("campus", "Please Select a Campus")
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model._student.First().FT, "Full-Time:")
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.CheckBox("fulltimestatus", Model.fulltimestatus)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model._student.First().Prob, "Probation:")
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.CheckBox("acadprobation", Model.acadprobation)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model._student.First().Enr, "Enrolled:")
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.CheckBox("enrolled", Model.enrolled)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Search" class="Button" />
                </td>
                <td>
                    <input type="reset" value="Reset" class="Button" />
                </td>
            </tr>
        </table>
    }
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="grid" style="height: 380px; width:80%;"></div>

<script type="text/javascript">
    $(document).ready(function() {

        var model = @Html.Raw(Json.Encode(Model._student));
        
       $("#grid").kendoGrid({
                        dataSource: {
                            data: model,
                            pageSize: 15
                        },
                        groupable: true,
                        sortable: true,
                        selectable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: true
                        },
                        columns: [  {
                                field: "StudentID",
                                title: "Student ID",
                                template: '<a href="/Student/Details/#=StudentID#">#=StudentID#</a>'
                            } , {
                                field: "FName",
                                title: "First Name"
                            } , {
                                field: "LName",
                                title: "Last Name"
                            } , {
                                field: "Prog",
                                title: "Student Program"
                            } , {
                                field: "Campus",
                                title: "Student Campus"
                            } , {
                                field: "PhoneNum",
                                title: "Student Phone Number"
                            } , {
                                field: "Email",
                                title: "Student Email"
                            } , {
                                field: "Prob",
                                title: "Academic Probation",
                                template: "<input disabled=\"True\" type=\"checkbox\" # if(Prob == true){ # checked #} # />"
                            } , {
                                field: "FT",
                                title: "Full Time",
                                template: "<input disabled=\"True\" type=\"checkbox\" # if(FT == true){ # checked #} # />"
                            } , {
                                field: "Enr",
                                title: "Enrollemnt",
                                template: "<input disabled=\"True\" type=\"checkbox\" # if(Enr == true){ # checked #} # />"
                            }
                        ]
        });
    });
</script>
