@model IEnumerable<AdvisementSys.Models.student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.LabelFor(model => model.First().studentid)
        </div>
        <div class="editor-field">
            @Html.TextBox("studentid")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.First().fname)
        </div>
        <div class="editor-field">
            @Html.TextBox("fname")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.First().lname)
        </div>
        <div class="editor-field">
            @Html.TextBox("lname")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.First().programcode, "program")
        </div>
        <div class="editor-field">
            @Html.DropDownList("programcode", String.Empty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.First().campus, "campus")
        </div>
        <div class="editor-field">
            @Html.DropDownList("campus", String.Empty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.First().email)
        </div>
        <div class="editor-field">
            @Html.TextBox("email")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.First().acadprobation)
        </div>
        <div class="editor-field">
            @Html.CheckBox("acadprobation")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.First().fulltimestatus)
        </div>
        <div class="editor-field">
            @Html.CheckBox("fulltimestatus")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.First().enrolled)
        </div>
        <div class="editor-field">
            @Html.CheckBox("enrolled")
        </div>

        <p>
            <input type="submit" value="Search" />
        </p>
}
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            fname
        </th>
        <th>
            lname
        </th>
        <th>
            program
        </th>
        <th>
            campu
        </th>
        <th>
            phonenum
        </th>
        <th>
            email
        </th>
        <th>
            street
        </th>
        <th>
            appartmentnum
        </th>
        <th>
            city
        </th>
        <th>
            province
        </th>
        <th>
            postalcode
        </th>
        <th>
            acadprobation
        </th>
        <th>
            fulltimestatus
        </th>
        <th>
            enrolled
        </th>
        <th>
            international
        </th>
        <th>
            cellnum
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.programcode)
            &nbsp;-&nbsp;
            @Html.DisplayFor(modelItem => item.program.programname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.campu.cname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phonenum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appartmentnum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.province)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postalcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.acadprobation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fulltimestatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enrolled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.international)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cellnum)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.studentid })
        </td>
    </tr>
}

</table>
