@model AdvisementSys.Models.Request.CreateReadmissionForm

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "Readmission", FormMethod.Post, new { id = "readmissionForm", name = "readmissionForm" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model._applicationForReadmission.readmissionid)
    @Html.HiddenFor(model => model._applicationForReadmission.issueid)
    <h2>New Application for Readmission</h2>
    <table style="width: 800px;">
        <tr>
            <td colspan="4">
                <h3>Student Information</h3>
            </td>
        </tr>
        <tr>
            <td>
                Student ID:
            </td>
            <td>
                @Html.DisplayFor(model => model._student.studentid)
            </td>
            <td>
                Name:
            </td>
            <td>
                @Html.DisplayFor(model => model._student.fname)
                @Html.DisplayFor(model => model._student.lname)
            </td>
        </tr>
        <tr>
            <td>
                Address:
            </td>
            <td>
                @Html.DisplayFor(model => model._student.street)
                @Html.DisplayFor(model => model._student.appartmentnum)
            </td>
            <td>
                City:
            </td>
            <td>
                @Html.DisplayFor(model => model._student.city)
            </td>
        </tr>
        <tr>
            <td>
                Province:
            </td>
            <td>
                @Html.DisplayFor(model => model._student.province)
            </td>
            <td>
                Postal Code:
            </td>
            <td>
                @Html.DisplayFor(model => model._student.postalcode)
            </td>
        </tr>
        <tr>
            <td>
                *Date:
            </td>
            <td>
                @Html.TextBoxFor(model => model._applicationForReadmission.date, new { @id = "datepicker", @class="required" , @Value = Model._applicationForReadmission.date.ToString("dd/MM/yyyy") })
                @Html.ValidationMessageFor(model => model._applicationForReadmission.date)
            </td>
            <td>
                Status:
            </td>
            <td>
                @Html.DropDownListFor(model => model._applicationForReadmission.status, new SelectList(new[] { "In Progress", "On Hold", "Complete" }, Model._applicationForReadmission.status), new { @class = "required" })
                @Html.ValidationMessageFor(model => model._applicationForReadmission.status)
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <h3>Readmission Information</h3>
            </td>
        </tr>
        <tr>
            <td>
                Purpose:
            </td>
            <td colspan="3">
                @Html.DropDownListFor(model => model._applicationForReadmission.purpose, new SelectList(new[] { "Readmission", "Campus Transfer", "Program Transfer" }, Model._applicationForReadmission.purpose), new { @class = "required" })
                @Html.ValidationMessageFor(model => model._applicationForReadmission.purpose)
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <h4>New Program</h4>
            </td>
        </tr>
        <tr>
            <td>
                *Program:
            </td>
            <td>
                @Html.TextBoxFor(model => model._applicationForReadmission.newprogram, new { id="newprogram", @class="required newprogramvalidate"})
                @Html.ValidationMessageFor(model => model._applicationForReadmission.newprogram)
            </td>
            <td>
                *Campus:
            </td>
            <td>
                @Html.DropDownListFor(model => model._applicationForReadmission.newcampus, new SelectList(Model._campus, "cname", "cname", Model._applicationForReadmission.newcampus), new { id="newcampus", @class = "required newcampusvalidate" })
                @Html.ValidationMessageFor(model => model._applicationForReadmission.newcampus)
            </td>
        </tr>
        <tr>
            <td>
                Full-Time:
            </td>
            <td>
                @Html.EditorFor(model => model._applicationForReadmission.newfulltime)
                @Html.ValidationMessageFor(model => model._applicationForReadmission.newfulltime)
            </td>
            <td>
                *Semester:
            </td>
            <td>
                @Html.DropDownListFor(model => model._applicationForReadmission.newsemyear, new SelectList(new[] { "Please Select", "Spring " + DateTime.Now.Year, "Fall " + DateTime.Now.Year, "Winter " + DateTime.Now.AddYears(1).Year, "Spring " + DateTime.Now.AddYears(1).Year }, Model._applicationForReadmission.newsemyear), new { id="newsemyear", @class = "required newsemyearvalidate" })
                @Html.ValidationMessageFor(model => model._applicationForReadmission.newsemyear)
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <h4>Last Program</h4>
            </td>
        </tr>
        <tr>
            <td>
                *Program:
            </td>
            <td>
                @Html.TextBoxFor(model => model._applicationForReadmission.oldprogram, new { id="oldprogram", @class="required oldprogramvalidate"})
                @Html.ValidationMessageFor(model => model._applicationForReadmission.oldprogram)
            </td>
            <td>
                Campus:
            </td>
            <td>
                @Html.DropDownListFor(model => model._applicationForReadmission.oldcampus, new SelectList(Model._campus, "cname", "cname", Model._applicationForReadmission.oldcampus), new { id="oldcampus", @class = "required oldcampusvalidate" })
                @Html.ValidationMessageFor(model => model._applicationForReadmission.oldcampus)
            </td>
        </tr>
        <tr>
            <td>
                Full-Time:
            </td>
            <td>
                @Html.EditorFor(model => model._applicationForReadmission.oldfulltime)
                @Html.ValidationMessageFor(model => model._applicationForReadmission.oldfulltime)
            </td>
            <td>
                *Semester:
            </td>
            <td>
                @Html.DropDownListFor(model => model._applicationForReadmission.oldsemyear, new SelectList(new[] { "Please Select","Spring " + DateTime.Now.AddYears(-2).Year, "Fall " + DateTime.Now.AddYears(-2).Year, "Winter " + DateTime.Now.AddYears(-1).Year, "Spring " + DateTime.Now.AddYears(-1).Year, "Fall " + DateTime.Now.AddYears(-1).Year, "Winter " + DateTime.Now.Year, "Spring " + DateTime.Now.Year, "Fall " + DateTime.Now.Year }, Model._applicationForReadmission.oldsemyear), new { id="oldsemyear", @class = "required oldsemyearvalidate" })
                @Html.ValidationMessageFor(model => model._applicationForReadmission.oldsemyear)
            </td>
        </tr>
    </table>
    <table border=1px>
        <tr>
            <td colspan="2">
                <h3>Assessment</h3>
            </td>
        </tr>
        <tr>
            <td style="width: 15%; /*text-align:right;*/">                
                <input type="radio" name="mainRadio" value="approvedCheck" checked="checked"/>
            </td>
            <td>
                @Html.CheckBoxFor(model => model._applicationForReadmission.approved, new { id="approved"})
                @Html.ValidationMessageFor(model => model._applicationForReadmission.approved)
                The student request is acceptable as indicated above.
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="mainRadio" value="semesterCheck" />
            </td>
            <td>
                The student may enter the program in the following semester/year
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <table>
                    <tr>
                        <td>
                            Semester/Year:
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model._applicationForReadmission.term, new SelectList(new[] { "Please Select", "Spring " + DateTime.Now.Year, "Fall " + DateTime.Now.Year, "Winter " + DateTime.Now.AddYears(1).Year, "Spring " + DateTime.Now.AddYears(1).Year }, Model._applicationForReadmission.term), new { id="term", @class = "required termvalidate" })
                            @Html.ValidationMessageFor(model => model._applicationForReadmission.term)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="mainRadio" value="programCheck" />
            </td>
            <td>
                The student has been recommended for a program change
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <table>
                    <tr>
                        <td>
                            Program:
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model._applicationForReadmission.recommendedprogram, new { id="recommendedProgram", @class="required recommendedprogramvalidate"})
                            @Html.ValidationMessageFor(model => model._applicationForReadmission.recommendedprogram)
                        </td>
                        <td>
                            Campus:
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model._applicationForReadmission.recomendedcampus, new SelectList(Model._campus, "cname", "cname", Model._applicationForReadmission.recomendedcampus), new { id = "recommendedCampus", @class = "required recommendedcampusvalidate" })
                            @Html.ValidationMessageFor(model => model._applicationForReadmission.recomendedcampus)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Full-Time:
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => model._applicationForReadmission.recommendedfulltime, new { id="recommendedFullTime"})
                            @Html.ValidationMessageFor(model => model._applicationForReadmission.recommendedfulltime)
                        </td>
                        <td>
                            Semester:
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model._applicationForReadmission.recommendedsemyear, new SelectList(new[] { "Please Select", "Spring " + DateTime.Now.Year, "Fall " + DateTime.Now.Year, "Winter " + DateTime.Now.AddYears(1).Year, "Spring " + DateTime.Now.AddYears(1).Year }, Model._applicationForReadmission.recommendedsemyear), new { id="recommendedYear", @class = "required recommendedyearvalidate" })
                            @Html.ValidationMessageFor(model => model._applicationForReadmission.recommendedsemyear)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        
        <tr>
            <td>
                <input type="radio" name="mainRadio" value="conditionalCheck" />
            </td>
            <td>
                The student request is acceptable with the following conditions:
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                
                @Html.TextAreaFor(model => model._applicationForReadmission.acceptableconditional, new { id = "acceptableConditional", @class="required", @style = "width:457px; height:60px; resize:none;" })
                @Html.ValidationMessageFor(model => model._applicationForReadmission.acceptableconditional)
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="mainRadio" value="probationCheck" />
            </td>
            <td>
                The student may be readmitted into the program on academic probation
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                
                @Html.TextAreaFor(model => model._applicationForReadmission.probation, new { id = "probation", @class="required", @style = "width:457px; height:40px; resize:none;" })
                @Html.ValidationMessageFor(model => model._applicationForReadmission.probation)
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="mainRadio" value="specialCheck" />
                
            </td>
            <td>
                @Html.CheckBoxFor(model => model._applicationForReadmission.special, new { id="special"})
                @Html.ValidationMessageFor(model => model._applicationForReadmission.special)
                A special timetable has been given to the student and is attached
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="mainRadio" value="rejectedCheck" />
            </td>
            <td>
                Program change NOT APPROVED
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                
                @Html.TextAreaFor(model => model._applicationForReadmission.comments, new { id = "comments", @class="required", @style = "width:457px; height:40px; resize:none;" })
                @Html.ValidationMessageFor(model => model._applicationForReadmission.comments)
            </td>
        </tr>
    </table><br />
        <div>
         <input type="submit" value="Create" class="Button" style="position: relative; left:10px;"/> 
         </div>
    <p>Fields marked with an * are mandatory.</p>
}

<div>
    @Html.ActionLink("Back to Student Issue", "Details/" + Model._applicationForReadmission.issueid, "Issue")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#datepicker").datepicker({ dateFormat: "dd/mm/yy" });
        /*Permanently disables checkboxes*/
        $('#approved').attr('disabled', 'disabled');
        $('#approved').attr('checked', 'checked');

        $('#term').attr('disabled', 'disabled');
        $('#recommendedProgram').attr('disabled', 'disabled');
        $('#recommendedCampus').attr('disabled', 'disabled');
        $('#recommendedFullTime').attr('disabled', 'disabled');
        $('#recommendedYear').attr('disabled', 'disabled');
        $('#acceptableConditional').attr('disabled', 'disabled');
        $('#probation').attr('disabled', 'disabled');
        $('#special').attr('disabled', 'disabled');
        $('#comments').attr('disabled', 'disabled');

        $.validator.addMethod("oldcampusvalidate", function (value) {
            if ($('#oldcampus').val() == "Please Select a Campus") {
                return false;
            }
            else {
                return true;
            }
        }, 'Please Select required fields');

        $.validator.addMethod("newcampusvalidate", function (value) {
            if ($('#newcampus').val() == "Please Select a Campus") {
                return false;
            }
            else {
                return true;
            }
        }, 'Please Select required fields');

        $.validator.addMethod("newsemyearvalidate", function (value) {
            if ($('#newsemyear').val() == "Please Select") {
                return false;
            }
            else {
                return true;
            }
        }, 'Please Select required fields');

        $.validator.addMethod("oldsemyearvalidate", function (value) {
            if ($('#oldsemyear').val() == "Please Select") {
                return false;
            }
            else {
                return true;
            }
        }, 'Please Select required fields');

        $.validator.addMethod("termvalidate", function (value) {
            if ($('#term').val() == "Please Select") {
                return false;
            }
            else {
                return true;
            }
        }, 'Please Select required fields');

        $.validator.addMethod("recommendedprogramvalidate", function (value) {
            return value.match(/^[A-Z]{5}$/);
        }, 'Please enter a valid program code');

        $.validator.addMethod("newprogramvalidate", function (value) {
            return value.match(/^[A-Z]{5}$/);
        }, 'Please enter a valid program code');

        $.validator.addMethod("oldprogramvalidate", function (value) {
            return value.match(/^[A-Z]{5}$/);
        }, 'Please enter a valid program code');

        $.validator.addMethod("recommendedcampusvalidate", function (value) {
            if ($('#recommendedCampus').val() == "Please Select a Campus") {
                return false;
            }
            else {
                return true;
            }
        }, 'Please Select required fields');

        $.validator.addMethod("recommendedyearvalidate", function (value) {
            if ($('#recommendedYear').val() == "Please Select") {
                return false;
            }
            else {
                return true;
            }
        }, 'Please Select required fields');
    });
    
    /*If Approved Check is selected*/
    $('input[type="radio"]').change(function () {
        if ($('input[type="radio"]:checked').val() == 'approvedCheck') {
            $('#approved').attr('checked', 'checked');

            $('#term').attr('disabled', 'disabled');
            $('#term').val("Please Select");
            $('#recommendedProgram').attr('disabled', 'disabled');
            $('#recommendedProgram').val("");
            $('#recommendedCampus').attr('disabled', 'disabled');
            $('#recommendedCampus').val("Please Select a Campus");
            $('#recommendedFullTime').attr('disabled', 'disabled');
            $('#recommendedFullTime').removeAttr('checked');
            $('#recommendedYear').attr('disabled', 'disabled');
            $('#recommendedYear').val("Please Select");
            $('#acceptableConditional').attr('disabled', 'disabled');
            $('#acceptableConditional').val("");
            $('#probation').attr('disabled', 'disabled');
            $('#probation').val("");
            $('#special').attr('disabled', 'disabled');
            $('#special').removeAttr('checked');
            $('#comments').attr('disabled', 'disabled');
            $('#comments').val("");
        }

        /*If semesterCheck is Selected*/
        if ($('input[type="radio"]:checked').val() == 'semesterCheck') {

            $('#term').removeAttr('disabled');

            $('#approved').attr('disabled', 'disabled');
            $('#approved').removeAttr('checked');
            $('#recommendedProgram').attr('disabled', 'disabled');
            $('#recommendedProgram').val('');
            $('#recommendedCampus').attr('disabled', 'disabled');
            $('#recommendedCampus').val('Please Select a Campus');
            $('#recommendedFullTime').attr('disabled', 'disabled');
            $('#recommendedFullTime').removeAttr('checked');
            $('#recommendedYear').attr('disabled', 'disabled');
            $('#recommendedYear').val('Please Select');

            $('#acceptableConditional').attr('disabled', 'disabled');
            $('#acceptableConditional').val('');
            $('#probation').attr('disabled', 'disabled');
            $('#probation').val('');
            $('#special').attr('disabled', 'disabled');
            $('#special').removeAttr('checked');
            $('#comments').attr('disabled', 'disabled');
            $('#comments').val('');
        }

        /*If programCheck is Selected*/
        if ($('input[type="radio"]:checked').val() == 'programCheck') {
            $('#recommendedProgram').removeAttr('disabled');
            $('#recommendedCampus').removeAttr('disabled');
            $('#recommendedFullTime').removeAttr('disabled');
            $('#recommendedYear').removeAttr('disabled');

            $('#approved').attr('disabled', 'disabled');
            $('#approved').removeAttr('checked');
            $('#term').attr('disabled', 'disabled');
            $('#term').val("Please Select");
            $('#acceptableConditional').attr('disabled', 'disabled');
            $('#acceptableConditional').val('');
            $('#probation').attr('disabled', 'disabled');
            $('#probation').val('');
            $('#special').attr('disabled', 'disabled');
            $('#special').removeAttr('checked');
            $('#comments').attr('disabled', 'disabled');
            $('#comments').val('');
        }

        /*If conditionalCheck is Selected*/
        if ($('input[type="radio"]:checked').val() == 'conditionalCheck') {
            $('#acceptableConditional').removeAttr('disabled');

            $('#approved').attr('disabled', 'disabled');
            $('#approved').removeAttr('checked');
            $('#term').attr('disabled', 'disabled');
            $('#term').val("Please Select")
            $('#recommendedProgram').attr('disabled', 'disabled');
            $('#recommendedProgram').val('');
            $('#recommendedCampus').attr('disabled', 'disabled');
            $('#recommendedCampus').val('Please Select a Campus');
            $('#recommendedFullTime').attr('disabled', 'disabled');
            $('#recommendedFullTime').removeAttr('checked');
            $('#recommendedYear').attr('disabled', 'disabled');
            $('#recommendedYear').val('Please Select');
            $('#probation').attr('disabled', 'disabled');
            $('#probation').val('');
            $('#special').attr('disabled', 'disabled');
            $('#special').removeAttr('checked');
            $('#comments').attr('disabled', 'disabled');
            $('#comments').val('');
        }

        /*If probationCheck is Selected*/
        if ($('input[type="radio"]:checked').val() == 'probationCheck') {
            $('#probation').removeAttr('disabled');

            $('#approved').attr('disabled', 'disabled');
            $('#approved').removeAttr('checked');
            $('#term').attr('disabled', 'disabled');
            $('#term').val("Please Select")
            $('#recommendedProgram').attr('disabled', 'disabled');
            $('#recommendedProgram').val('');
            $('#recommendedCampus').attr('disabled', 'disabled');
            $('#recommendedCampus').val('Please Select a Campus');
            $('#recommendedFullTime').attr('disabled', 'disabled');
            $('#recommendedFullTime').removeAttr('checked');
            $('#recommendedYear').attr('disabled', 'disabled');
            $('#recommendedYear').val('Please Select');
            $('#acceptableConditional').attr('disabled', 'disabled');
            $('#acceptableConditional').val('');
            $('#special').attr('disabled', 'disabled');
            $('#special').removeAttr('checked');
            $('#comments').attr('disabled', 'disabled');
            $('#comments').val('');
        }
        /*If specialCheck is Selected*/
        if ($('input[type="radio"]:checked').val() == 'specialCheck') {
            $('#special').attr('checked', 'checked');

            $('#approved').attr('disabled', 'disabled');
            $('#approved').removeAttr('checked');
            $('#term').attr('disabled', 'disabled');
            $('#term').val("Please Select")
            $('#recommendedProgram').attr('disabled', 'disabled');
            $('#recommendedProgram').val('');
            $('#recommendedCampus').attr('disabled', 'disabled');
            $('#recommendedCampus').val('Please Select a Campus');
            $('#recommendedFullTime').attr('disabled', 'disabled');
            $('#recommendedFullTime').removeAttr('checked');
            $('#recommendedYear').attr('disabled', 'disabled');
            $('#recommendedYear').val('Please Select');
            $('#acceptableConditional').attr('disabled', 'disabled');
            $('#acceptableConditional').val('');
            $('#probation').attr('disabled', 'disabled');
            $('#probation').val('');
            $('#comments').attr('disabled', 'disabled');
            $('#comments').val('');
        }
        if ($('input[type="radio"]:checked').val() == 'rejectedCheck') {
            $('#comments').removeAttr('disabled');

            $('#approved').attr('disabled', 'disabled');
            $('#approved').removeAttr('checked');
            $('#term').attr('disabled', 'disabled');
            $('#term').val("Please Select")
            $('#recommendedProgram').attr('disabled', 'disabled');
            $('#recommendedProgram').val('');
            $('#recommendedCampus').attr('disabled', 'disabled');
            $('#recommendedCampus').val('Please Select a Campus');
            $('#recommendedFullTime').attr('disabled', 'disabled');
            $('#recommendedFullTime').removeAttr('checked');
            $('#recommendedYear').attr('disabled', 'disabled');
            $('#recommendedYear').val('Please Select');
            $('#acceptableConditional').attr('disabled', 'disabled');
            $('#acceptableConditional').val('');
            $('#probation').attr('disabled', 'disabled');
            $('#probation').val('');
            $('#special').attr('disabled', 'disabled');
            $('#special').removeAttr('checked');
        }

    });

    $('#readmissionForm').validate({

    });
</script>