@model AdvisementSys.Models.Request.EditReadmissionForm

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model._applicationForReadmission.readmissionid)
    @Html.HiddenFor(model => model._applicationForReadmission.issueid)
    <h2>Edit Application for Readmission</h2>
    <table style="width: 800px;">
        <tr>
            <td colspan="4">
                <h3>Student Information</h3>
            </td>
        </tr>
        <tr>
            <td>
                Student ID:
            </td>
            <td>
                @Html.DisplayFor(model => model._student.studentid)
            </td>
            <td>
                Name:
            </td>
            <td>
                @Html.DisplayFor(model => model._student.fname)
                @Html.DisplayFor(model => model._student.lname)
            </td>
        </tr>
        <tr>
            <td>
                Address:
            </td>
            <td>
                @Html.DisplayFor(model => model._student.street)
                @Html.DisplayFor(model => model._student.appartmentnum)
            </td>
            <td>
                City:
            </td>
            <td>
                @Html.DisplayFor(model => model._student.city)
            </td>
        </tr>
        <tr>
            <td>
                Province:
            </td>
            <td>
                @Html.DisplayFor(model => model._student.province)
            </td>
            <td>
                Postal Code:
            </td>
            <td>
                @Html.DisplayFor(model => model._student.postalcode)
            </td>
        </tr>
        <tr>
            <td>
                Date:
            </td>
            <td>
                @Html.TextBoxFor(model => model._applicationForReadmission.date, new { @id = "datepicker", @Value = Model._applicationForReadmission.date.ToString("dd/MM/yyyy") })
                @Html.ValidationMessageFor(model => model._applicationForReadmission.date)
            </td>
            <td>
                Status:
            </td>
            <td>
                @Html.DropDownListFor(model => model._applicationForReadmission.status, new SelectList(new[] { "In Progress", "On Hold", "Complete" }, Model._applicationForReadmission.status), new { @class = "required" })
                @Html.ValidationMessageFor(model => model._applicationForReadmission.status)
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <h3>Readmission Information</h3>
            </td>
        </tr>
        <tr>
            <td>
                Purpose:
            </td>
            <td colspan="3">
                @Html.DropDownListFor(model => model._applicationForReadmission.purpose, new SelectList(new[] { "Readmission", "Campus Transfer", "Program Transfer" }, Model._applicationForReadmission.purpose), new { @class = "required" })
                @Html.ValidationMessageFor(model => model._applicationForReadmission.purpose)
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <h4>New Program</h4>
            </td>
        </tr>
        <tr>
            <td>
                Program:
            </td>
            <td>
                @Html.EditorFor(model => model._applicationForReadmission.newprogram)
                @Html.ValidationMessageFor(model => model._applicationForReadmission.newprogram)
            </td>
            <td>
                Campus:
            </td>
            <td>
                @Html.DropDownListFor(model => model._applicationForReadmission.newcampus, new SelectList(Model._campus, "cname", "cname", Model._applicationForReadmission.newcampus), new { @class = "required" })
                @Html.ValidationMessageFor(model => model._applicationForReadmission.newcampus)
            </td>
        </tr>
        <tr>
            <td>
                Full-Time:
            </td>
            <td>
                @Html.EditorFor(model => model._applicationForReadmission.newfulltime)
                @Html.ValidationMessageFor(model => model._applicationForReadmission.newfulltime)
            </td>
            <td>
                Semester:
            </td>
            <td>
                @Html.DropDownListFor(model => model._applicationForReadmission.newsemyear, new SelectList(new[] { "Please Select", "Spring " + DateTime.Now.Year, "Fall " + DateTime.Now.Year, "Winter " + DateTime.Now.AddYears(1).Year, "Spring " + DateTime.Now.AddYears(1).Year }, Model._applicationForReadmission.newsemyear), new { @class = "required" })
                @Html.ValidationMessageFor(model => model._applicationForReadmission.newsemyear)
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <h4>Last Program</h4>
            </td>
        </tr>
        <tr>
            <td>
                Program:
            </td>
            <td>
                @Html.EditorFor(model => model._applicationForReadmission.oldprogram)
                @Html.ValidationMessageFor(model => model._applicationForReadmission.oldprogram)
            </td>
            <td>
                Campus:
            </td>
            <td>
                @Html.DropDownListFor(model => model._applicationForReadmission.oldcampus, new SelectList(Model._campus, "cname", "cname", Model._applicationForReadmission.oldcampus), new { @class = "required" })
                @Html.ValidationMessageFor(model => model._applicationForReadmission.oldcampus)
            </td>
        </tr>
        <tr>
            <td>
                Full-Time:
            </td>
            <td>
                @Html.EditorFor(model => model._applicationForReadmission.oldfulltime)
                @Html.ValidationMessageFor(model => model._applicationForReadmission.oldfulltime)
            </td>
            <td>
                Semester:
            </td>
            <td>
                @Html.DropDownListFor(model => model._applicationForReadmission.oldsemyear, new SelectList(new[] { "Please Select","Spring " + DateTime.Now.AddYears(-2).Year, "Fall " + DateTime.Now.AddYears(-2).Year, "Winter " + DateTime.Now.AddYears(-1).Year, "Spring " + DateTime.Now.AddYears(-1).Year, "Fall " + DateTime.Now.AddYears(-1).Year, "Winter " + DateTime.Now.Year, "Spring " + DateTime.Now.Year, "Fall " + DateTime.Now.Year }, Model._applicationForReadmission.oldsemyear), new { @class = "required" })
                @Html.ValidationMessageFor(model => model._applicationForReadmission.oldsemyear)
            </td>
        </tr>
    </table>
    <table border=1px>
        <tr>
            <td colspan="2">
                <h3>Assessment</h3>
            </td>
        </tr>
        <tr>
            <td style="width: 15%;">
                *Radio Button*
                @Html.CheckBoxFor(model => model._applicationForReadmission.approved)
                @Html.ValidationMessageFor(model => model._applicationForReadmission.approved)
            </td>
            <td>
                The student request is acceptable as indicated above.
            </td>
        </tr>
        <tr>
            <td>
                *Radio Button*
            </td>
            <td>
                The student may enter the program in the following semester/year
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <table>
                    <tr>
                        <td>
                            Semester/Year:
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model._applicationForReadmission.term, new SelectList(new[] { "Please Select", "Spring " + DateTime.Now.Year, "Fall " + DateTime.Now.Year, "Winter " + DateTime.Now.AddYears(1).Year, "Spring " + DateTime.Now.AddYears(1).Year }, Model._applicationForReadmission.term), new { @class = "required" })
                            @Html.ValidationMessageFor(model => model._applicationForReadmission.term)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                *Radio Button*
            </td>
            <td>
                The student has been recommended for a program change
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <table>
                    <tr>
                        <td>
                            Program:
                        </td>
                        <td>
                            @Html.EditorFor(model => model._applicationForReadmission.recommendedprogram)
                            @Html.ValidationMessageFor(model => model._applicationForReadmission.recommendedprogram)
                        </td>
                        <td>
                            Campus:
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model._applicationForReadmission.recomendedcampus, new SelectList(Model._campus, "cname", "cname", Model._applicationForReadmission.recomendedcampus), new { @class = "required" })
                            @Html.ValidationMessageFor(model => model._applicationForReadmission.recomendedcampus)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Full-Time:
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => model._applicationForReadmission.recommendedfulltime)
                            @Html.ValidationMessageFor(model => model._applicationForReadmission.recommendedfulltime)
                        </td>
                        <td>
                            Semester:
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model._applicationForReadmission.recommendedsemyear, new SelectList(new[] { "Please Select", "Spring " + DateTime.Now.Year, "Fall " + DateTime.Now.Year, "Winter " + DateTime.Now.AddYears(1).Year, "Spring " + DateTime.Now.AddYears(1).Year }, Model._applicationForReadmission.recommendedsemyear), new { @class = "required" })
                            @Html.ValidationMessageFor(model => model._applicationForReadmission.recommendedsemyear)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        
        <tr>
            <td>
                *Radio Button*
            </td>
            <td>
                The student request is acceptable with the following conditions:
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                *Text Area*
                @Html.EditorFor(model => model._applicationForReadmission.acceptableconditional)
                @Html.ValidationMessageFor(model => model._applicationForReadmission.acceptableconditional)
            </td>
        </tr>
        <tr>
            <td>
                *Radio Button*
            </td>
            <td>
                The student may be readmitted into the program on academic probation
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                *Text Area*
                @Html.EditorFor(model => model._applicationForReadmission.probation)
                @Html.ValidationMessageFor(model => model._applicationForReadmission.probation)
            </td>
        </tr>
        <tr>
            <td>
                *Radio Button*
                @Html.CheckBoxFor(model => model._applicationForReadmission.special)
                @Html.ValidationMessageFor(model => model._applicationForReadmission.special)
            </td>
            <td>
                A special timetable has been given to the student and is attached
            </td>
        </tr>
        <tr>
            <td>
                *Radio Button*
            </td>
            <td>
                Program change NOT APPROVED
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                *Text Area*
                @Html.EditorFor(model => model._applicationForReadmission.comments)
                @Html.ValidationMessageFor(model => model._applicationForReadmission.comments)
            </td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Save" />
    </p>
}

<div>
    @Html.ActionLink("Back to Application For Readmission Form", "Details/" + Model._applicationForReadmission.readmissionid)
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#datepicker").datepicker({ dateFormat: "dd/mm/yy" });
    });
</script>